@import "src/styles/variables/alert.scss";
@import "src/styles/mixin/alert.scss";

.lin-alert {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $alert-padding;
  overflow: hidden;
  border-radius: $alert-border-radius;
}

.lin-alert-content {
  display: flex;
  flex-direction: column;
  padding: $alert-content-padding;
}

.lin-alert-title {
  font-size: $alert-title-font-size;
  font-weight: $alert-title-font-weight;

  &:only-child {
    font-weight: normal;
  }
}

.lin-alert-description {
  margin-top: $alert-description-margin-top;
  font-size: $alert-description-font-size;
}

.lin-alert-close {
  position: absolute;
  top: $alert-close-top;
  right: $alert-close-right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lin-alert-center {
  justify-content: center;
}

.lin-alert-light {
  .lin-alert-close {
    color: $alert-light-color;
  }

  @each $key, $val in $theme-color {
    &.lin-alert-#{$key} {
      @include alert-type($val);
    }
  }
}

.lin-alert-dark {
  @each $key, $val in $theme-color {
    &.lin-alert-#{$key} {
      @include alert-type($val);
    }
  }
}

.lin-alert-fade-enter-active,
.lin-alert-fade-leave-active {
  transition: $alert-transition;
}

.lin-alert-fade-enter,
.lin-alert-fade-leave-to {
  opacity: $alert-opacity;
}
