@import "src/styles/variables/alert.scss";
@import "src/styles/mixin/alert.scss";

.lin-alert {
  padding: $alert-padding;
  box-sizing: border-box;
  border-radius: $alert-border-radius;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lin-alert-icon {
}
.lin-alert-content {
  display: flex;
  flex-direction: column;
  padding: $alert-content-padding;
}
.lin-alert-title {
  font-weight: $alert-title-font-weight;
  font-size: $alert-title-font-size;
  &:only-child {
    font-weight: normal;
  }
}
.lin-alert-description {
  font-size: $alert-description-font-size;
  margin-top: $alert-description-margin-top;
}
.lin-alert-close {
  position: absolute;
  top: $alert-close-top;
  right: $alert-close-right;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lin-alert-center {
  justify-content: center;
}

.lin-alert-light {
  .lin-alert-close {
    color: $alert-light-color;
  }

  &.lin-alert-success {
    @include alert-type(
      lighten($success, $alert-light-success-lighten),
      $success
    );
  }
  &.lin-alert-warning {
    @include alert-type(
      lighten($warning, $alert-light-warning-lighten),
      $warning
    );
  }
  &.lin-alert-info {
    @include alert-type(lighten($info, $alert-light-info-lighten), $info);
  }
  &.lin-alert-danger {
    @include alert-type(lighten($danger, $alert-light-danger-lighten), $danger);
  }
}

.lin-alert-dark {
  @each $key, $val in $theme-color {
    &.lin-alert-#{$key} {
      @include alert-type($val, $alert-dark-color);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: $alert-transition;
}
.fade-enter,
.fade-leave-to {
  opacity: $alert-opacity;
}
