.lin-choice-item {
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  //   padding: 0 10px;
  cursor: pointer;

  font-size: 14px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;

  &:hover {
    background-color: #f5f7fa;
  }
  &.lin-choice-item-active {
    background-color: #f5f7fa;
  }
}
// background-color: #f5f7fa;
