@import "src/styles/variables/form-item.scss";
.lin-form-item {
  margin-bottom: $form-item-margin-bottom;
  position: relative;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  .lin-form-item-label {
    float: left;
    text-align: right;
    vertical-align: middle;
    font-size: $form-item-label-font-size;
    color: $form-item-label-color;
    line-height: $form-item-label-line-height;
    padding: $form-item-label-padding;
    box-sizing: border-box;
  }
  .lin-form-item-content {
    // flex: 1;
    // width: 0;
    line-height: $form-item-content-line-height;
    position: relative;
    font-size: $form-item-content-font-size;
    overflow: hidden;
  }

  .lin-form-item-errormsg{
    font-size: $form-item-errormsg-font-size;
    color: $form-item-errormsg-color;
    margin: $form-item-errormsg-margin;
    padding: $form-item-errormsg-padding;
    line-height: $form-item-errormsg-line-height;
    position: absolute;
    left: $form-item-errormsg-left;
    bottom: $form-item-errormsg-bottom;
  }
}

.lin-formItem-fade-enter-active {
  animation: $form-item-animation-enter;
}

.lin-formItem-fade-leave-active {
  animation: $form-item-animation-leave;
}
