{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "chrome": "58",
                    "ie": "9"
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime", 
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@vue/babel-plugin-transform-vue-jsx"
    ]
}