@import "./variable";

.lin-alert {
  --lin-alert-padding: 8px 16px;
  --lin-alert-border-radius: var(--lin-border-radius-base);
  --lin-alert-title-font-size: var(--lin-font-size-small);
  --lin-alert-title-font-weight: 700;
  --lin-alert-content-padding: 0 10px;
  --lin-alert-description-font-size: var(--lin-font-size-extra-small);
  --lin-alert-description-margin-top: 5px;
  --lin-alert-close-font-size: var(--lin-font-size-extra-small);
  --lin-alert-close-top: 8px;
  --lin-alert-close-right: 16px;
  --lin-alert-close-color: var(--lin-color-white);
  --lin-alert-icon-size: var(--lin-font-size-medium);

  @each $key in $theme-color {
    --lin-alert-light-#{$key}-color: var(--lin-color-#{$key});
    --lin-alert-light-#{$key}-bg-color: var(--lin-color-#{$key}-light-9);
    --lin-alert-dark-#{$key}-color: var(--lin-color-white);
    --lin-alert-dark-#{$key}-bg-color: var(--lin-color-#{$key});
  }

  &.is-light {
    --lin-alert-close-color: var(--lin-text-color-placeholder);
  }
}

.lin-alert {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--lin-alert-padding);
  overflow: hidden;
  border-radius: var(--lin-alert-border-radius);

  &.is-center {
    justify-content: center;
  }
}

@each $key in $theme-color {
  .lin-alert-#{$key} {
    &.is-light {
      color: var(--lin-alert-light-#{$key}-color);
      background-color: var(--lin-alert-light-#{$key}-bg-color);
    }

    &.is-dark {
      color: var(--lin-alert-dark-#{$key}-color);
      background-color: var(--lin-alert-dark-#{$key}-bg-color);
    }
  }
}

.lin-alert-content {
  display: flex;
  flex-direction: column;
  padding: var(--lin-alert-content-padding);
}

.lin-alert-title {
  font-size: var(--lin-alert-title-font-size);
  font-weight: var(--lin-alert-title-font-weight);

  &:only-child {
    font-weight: normal;
  }
}

.lin-alert-description {
  margin-top: var(--lin-alert-description-margin-top);
  font-size: var(--lin-alert-description-font-size);
}

.lin-alert-close {
  position: absolute;
  top: var(--lin-alert-close-top);
  right: var(--lin-alert-close-right);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--lin-alert-close-font-size);
  color: var(--lin-alert-close-color);
  cursor: pointer;
}

.lin-alert-icon {
  font-size: var(--lin-alert-icon-size);
}
