
// ，as * 表示导入所有
@use "./mixins/mixins.scss" as *;

@include b(button) {
  display: inline-block;

  @include b(inner) {
    padding: 10px;
  }

  @include m(primary) {
    background-color: blue;
  }
}
