
@import "./variables/choice.scss";
@import "./mixin/common.scss";

.lin-choice-option-label {
  box-sizing: border-box;
  padding: $choice-option-label-padding;
  font-size: $choice-option-label-font-size;
  line-height: $choice-option-label-line-height;
  color: $choice-option-label-color;
  cursor: default;

  @include one-line();
}

.lin-choice-option + .lin-choice-option {
  position: relative;
  margin-top: $choice-option-margin-top;

  &::after {
    position: absolute;
    top: $choice-option-after-top;
    right: $choice-option-after-right;
    left: $choice-option-after-left;
    display: block;
    height: $choice-option-after-height;
    content: "";
    background: $choice-option-after-background;
  }
}
