@import "./variables/choice.scss";
@import "./mixin/common.scss";

.lin-choice-item {
  position: relative;
  box-sizing: border-box;
  // height: $choice-item-height;
  padding: $choice-item-padding;
  font-size: $choice-item-font-size;
  line-height: $choice-item-height;
  color: $choice-item-color;
  cursor: pointer;

  @include one-line();

  &:not(.lin-choice-item-disabled):hover {
    background-color: $choice-item-hover-background-color;
  }

  &.lin-choice-item-active {
    color: $choice-item-active-color;
    background-color: $choice-item-active-background-color;
  }

  &.lin-choice-item-disabled {
    color: $choice-item-disabled-color;
    cursor: not-allowed;
  }
}
