@import "./variables/dialog.scss";
@import './iconfont.css';
// scoped会给当前组件的模板中的所有的元素都添加一个随机的属性
// scoped会给当前组件中所有的样式 页添加一个对应的的属性选择器
.lin-dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2001;
  margin: 0;
  overflow: auto;
  background-color: $dialog-wrapper-background-color;

  .lin-dialog {
    // position: relative;
    // margin: $dialog-margin;
    position: absolute;
    box-sizing: border-box;
    width: $dialog-width;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    background: $dialog-background;
    border-radius: $dialog-border-radius;
    box-shadow: $dialog-box-shadow;

    &-header {
      padding: $dialog-header-padding;

      .lin-dialog-title {
        font-size: $dialog-title-font-size;
        line-height: $dialog-title-line-height;
        color: $dialog-title-color;
      }

      .lin-dialog-headerbtn {
        position: absolute;
        top: $dialog-headerbtn-top;
        right: $dialog-headerbtn-right;
        padding: $dialog-headerbtn-padding;
        font-size: $dialog-headerbtn-font-size;
        cursor: pointer;
        background: $dialog-headerbtn-background;
        border: $dialog-headerbtn-border;
        outline: $dialog-headerbtn-outline;

        .lin-icon-close {
          color: $dialog-close-color;
        }
      }
    }

    &-body {
      padding: $dialog-body-padding;
      font-size: $dialog-body-font-size;
      color: $dialog-body-color;
      word-break: $dialog-body-word-break;
    }

    &-footer {
      box-sizing: border-box;
      padding: $dialog-footer-padding;
      text-align: $dialog-footer-text-align;
      // 深度选择器 scss ::v-deep  less /deep/  css >>>
      // ::v-deep .lin-button:first-child {
      //   margin-right: 20px;
      // }
    }
  }
}

.lin-dialog-fade-enter-active {
  animation: $dialog-animation-enter;
}

.lin-dialog-fade-leave-active {
  animation: $dialog-animation-leave;
}

.user-select-none {
  user-select: none;
}
