.lin-dropdown-group-label {
  box-sizing: border-box;
  height: 34px;
  padding: 0 20px;
  font-size: var(--lin-font-size-extra-small);
  line-height: 34px;
  color: var(--lin-color-info);
  cursor: default;
  border-bottom: 1px solid var(--lin-border-color);
}
