@import "./variables/hover-effect.scss";

.lin-hover-effect {
  position: relative;
  padding: $hover-effect-padding;
  overflow: hidden;
  font-weight: $hover-effect-font-weight;
  border: 0;
  outline: none;
}

.lin-hover-effect-theme-neon {
  background-color: transparent;
  transition: $hover-effect-neon-transition;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;
      border: $hover-effect-neon-border-width solid $val;

      &:hover {
        color: white;
        background-color: $val;
        border-color: $val;
        box-shadow: $hover-effect-neon-box-shadow $val;
      }
    }
  }
}

.lin-hover-effect-theme-border {
  box-sizing: border-box;
  background: none;

  &::before,
  &::after {
    position: absolute;
    box-sizing: inherit;
    width: 0;
    height: 0;
    content: "";
    border: $hover-effect-border-border-width solid transparent;
  }

  &::after {
    right: 0;
    bottom: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    transition: $hover-effect-border-before-transition;
  }

  &:hover::after {
    transition: $hover-effect-border-after-transition;
  }

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;

      &:hover::before {
        border-top-color: $val;
        border-right-color: $val;
      }

      &:hover::after {
        border-bottom-color: $val;
        border-left-color: $val;
      }
    }
  }
}

.lin-hover-effect-theme-fillet {
  color: $hover-effect-fillet-color;
  border-radius: $hover-effect-fillet-border-radius;
  transition: $hover-effect-fillet-transition;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      background: $val;
    }
  }

  &:hover {
    border-top-left-radius: $hover-effect-fillet-top-left-radius;
    border-top-right-radius: $hover-effect-fillet-top-right-radius;
    border-bottom-right-radius: $hover-effect-fillet-bottom-right-radius;
    border-bottom-left-radius: $hover-effect-fillet-bottom-left-radius;
  }
}

.lin-hover-effect-theme-frozen {
  color: $hover-effect-frozen-color;
  border-radius: $hover-effect-frozen-border-radius;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $hover-effect-frozen-background;
    background-position: right bottom;
    background-size: 210% 100%;
    border-radius: $hover-effect-frozen-border-radius;
    transition: $hover-effect-frozen-transition;
  }

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      background: linear-gradient(to right, $val, adjust-hue($val, 30deg));
      //   background: linear-gradient(to right, $val, saturate($val, 40deg));
      box-shadow: $hover-effect-frozen-box-shadow $val;
    }
    &.lin-hover-effect-type-#{$key}:hover:before {
      background-position: left bottom;
    }
  }
}

.lin-hover-effect-theme-shiny {
  background: transparent;
  // text-transform: uppercase;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;
      border: $hover-effect-shiny-border-width solid $val;

      &::after {
        background: $val;
      }
    }
  }

  &::after {
    position: absolute;
    top: $hover-effect-shiny-top;
    left: $hover-effect-shiny-left;
    display: block;
    width: $hover-effect-shiny-width;
    height: $hover-effect-shiny-height;
    content: "";
    opacity: $hover-effect-shiny-opacity;
    transform: $hover-effect-shiny-transform;
  }

  &:hover::after {
    left: $hover-effect-shiny-hover-left;
    transition: $hover-effect-shiny-transition;
  }
}
