@import "./variables/limit-textarea.scss";

.lin-limit-textarea {
  position: relative;
}

.lin-limit-textarea-input {
  box-sizing: border-box;
  display: block;
  width: $limit-textarea-input-width;
  padding: $limit-textarea-input-padding;
  font-size: $limit-textarea-input-font-size;
  line-height: $limit-textarea-input-line-height;
  color: $limit-textarea-input-color;
  resize: vertical;
  border: $limit-textarea-input-border;
  border-radius: $limit-textarea-input-border-radius;
  outline: $limit-textarea-input-outline;
  transition: $limit-textarea-input-transition;
}

.lin-limit-textarea-input:focus {
  border: $limit-textarea-input-focus-border;
}

.lin-limit-textarea-over {
  border: $limit-textarea-over-border;
}

.lin-limit-textarea-text {
  position: absolute;
  right: $limit-textarea-text-right;
  bottom: $limit-textarea-text-bottom;
  font-size: $limit-textarea-text-font-size;
  color: $limit-textarea-text-color;
}

.lin-limit-textarea-num {
  color: $limit-textarea-num-color;
}

.lin-limit-textarea-num-over {
  color: $limit-textarea-num-over-color;
}
