@import "./variables/live-comment.scss";
@import './image.scss';

.lin-live-comment {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $live-comment-width;
  height: $live-comment-height;
  background: $live-comment-background;
}

.lin-live-comment-login-btn {
  color: $live-comment-login-btn-color;
  cursor: pointer;
}

.lin-live-comment-title {
  width: $live-comment-title-width;
  height: $live-comment-title-height;
  margin: $live-comment-title-margin;
  font-size: $live-comment-title-font-size;
  font-weight: $live-comment-title-font-weight;
  line-height: $live-comment-title-line-height;
  color: $live-comment-title-color;
  text-align: $live-comment-title-text-align;
  background: $live-comment-title-background;
}

.lin-live-comment-content {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  height: 0;
  padding: $live-comment-content-padding;
  overflow: auto;
  background: $live-comment-content-background;

  @include beautyScroll;
}

.lin-live-comment-input {
  position: relative;
  box-sizing: border-box;
  //   padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $live-comment-input-height;
  background: $live-comment-input-background;
}

.lin-live-comment-textarea {
  box-sizing: border-box;
  width: $live-comment-textarea-width;
  height: $live-comment-textarea-height;
  padding: $live-comment-textarea-padding;
  margin: $live-comment-textarea-margin;
  color: $live-comment-textarea-color;
  resize: none;
  background: $live-comment-textarea-background;
  border: none;
  outline: none;
  appearance: none;

  @include beautyScroll;
}

.lin-live-comment-send-btn {
  width: $live-comment-send-btn-width;
  //   width: 22%;
  height: $live-comment-send-btn-height;
  font-size: $live-comment-send-btn-font-size;
  font-weight: $live-comment-send-btn-font-weight;
  line-height: $live-comment-send-btn-line-height;
  color: $live-comment-send-btn-color;
  text-align: $live-comment-send-btn-text-align;
  cursor: pointer;
  background: $live-comment-send-btn-background;
}

.lin-live-comment-mask {
  position: absolute;
  top: $live-comment-mask-top;
  left: $live-comment-mask-left;
  box-sizing: border-box;
  width: $live-comment-mask-width;
  height: $live-comment-mask-height;
  padding: $live-comment-mask-padding;
}

.lin-live-comment-mask-default {
  font-size: $live-comment-mask-default-font-size;
  color: $live-comment-mask-default-color;
}

.lin-live-comment-item {
  display: flex;
  flex-direction: row;

  > .lin-live-comment-user-avator {
    width: $live-comment-user-avator-width;
    height: $live-comment-user-avator-height;
    border-radius: $live-comment-user-avator-border-radius;
  }
}

.lin-live-comment-info-box {
  box-sizing: border-box;
  width: $live-comment-info-box-width;
  padding-left: $live-comment-info-box-padding-left;
}

.lin-live-comment-user-name {
  display: flex;
  flex-direction: row;
  margin-bottom: $live-comment-user-name-margin-bottom;
  line-height: $live-comment-user-name-line-height;

  > span:nth-child(1) {
    max-width: $live-comment-user-name-span-1-max-width;
    margin-right: $live-comment-user-name-span-1-margin-right;
    font-size: $live-comment-user-name-span-1-font-size;
    font-weight: $live-comment-user-name-span-1-font-weight;
    color: $live-comment-user-name-span-1-color;

    @include one-line;
  }

  > span:nth-child(2) {
    flex: 1;
    width: 0;
    font-size: $live-comment-user-name-span-2-font-size;
    font-weight: $live-comment-user-name-span-2-font-weight;
    color: $live-comment-user-name-span-2-color;
    text-align: $live-comment-user-name-span-2-text-align;
  }
}

.lin-live-comment-view-count {
  box-sizing: border-box;
  padding: $live-comment-view-count-padding;
  margin: $live-comment-view-count-margin;
  font-size: $live-comment-view-count-font-size;
  font-weight: $live-comment-view-count-font-weight;
  line-height: $live-comment-view-count-line-height;
  color: $live-comment-view-count-color;
  text-align: $live-comment-view-count-text-align;
}

.lin-live-comment-info {
  box-sizing: border-box;
  width: $live-comment-info-width;
  padding: $live-comment-info-padding;
  font-size: $live-comment-info-font-size;
  font-weight: $live-comment-info-font-weight;
  line-height: $live-comment-info-line-height;
  color: $live-comment-info-color;
  word-break: normal;
  word-wrap: break-word;
  // height:44px;
  background: $live-comment-info-background;
  border-radius: $live-comment-info-border-radius;
}

.lin-live-comment-fix {
  position: absolute;
  bottom: $live-comment-fix-bottom;
  left: $live-comment-fix-left;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $live-comment-fix-width;
  height: $live-comment-fix-height;
  padding: $live-comment-fix-padding;
  font-size: $live-comment-fix-font-size;
  font-weight: $live-comment-fix-font-weight;
  color: $live-comment-fix-color;
  background: $live-comment-fix-background;

  > span:nth-child(1) {
    width: $live-comment-fix-span-1-width;

    @include one-line;
  }

  > span:nth-child(2) {
    width: $live-comment-fix-span-2-width;

    @include one-line;
  }

  > span:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
}
