@import "./variables/magnifier.scss";

.lin-magnifier {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  border: $magnifier-border;
}

.lin-magnifier-small {
  width: 100%;
  height: 100%;
  cursor: move;
}

.lin-magnifier-big {
  position: absolute;
  top: 0;
  overflow: hidden;
  border: $magnifier-big-border;
}

.lin-magnifier-move-slot {
  position: absolute;
  top: 0;
  left: 0;
}

.lin-magnifier-move {
  width: $magnifier-move-width;
  height: $magnifier-move-height;
  background: $magnifier-move-background;
}

.lin-magnifier-big-slot {
  position: absolute;
  top: 0;
  left: 0;
}

.lin-magnifier-big-img {
  display: block;
}
