@import "./variables/radio.scss";

.lin-radio {
  position: relative;
  display: inline-block;
  margin-right: $radio-margin-right;
  font-size: $radio-font-size;
  font-weight: $radio-font-weight;
  line-height: $radio-line-height;
  color: $radio-color;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
  outline: none;

  .lin-radio-input {
    position: relative;
    display: inline-block;
    line-height: $radio-input-line-height;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    outline: none;

    .lin-radio-inner {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      width: $radio-inner-width;
      height: $radio-inner-height;
      cursor: pointer;
      background-color: $radio-inner-background-color;
      border: $radio-inner-border;
      border-radius: $radio-inner-border-radius;

      &::after {
        position: absolute;
        top: $radio-inner-after-top;
        left: $radio-inner-after-left;
        width: $radio-inner-after-width;
        height: $radio-inner-after-height;
        content: "";
        background-color: $radio-inner-after-background-color;
        border-radius: $radio-inner-after-border-radius;
        transition: $radio-inner-after-transition;
        transform: $radio-inner-after-transform;
      }
    }

    .lin-radio-original {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 0;
      outline: none;
      opacity: 0;
    }
  }

  .lin-radio-label {
    padding-left: $radio-label-padding-left;
    font-size: $radio-label-font-size;
  }
}

.lin-radio-is-checked {
  .lin-radio-input {
    .lin-radio-inner {
      background: $radio-checked-background;
      border-color: $radio-checked-border-color;

      &::after {
        transform: $radio-checked-transform;
      }
    }
  }

  .lin-radio-label {
    color: $radio-checked-color;
  }
}

.lin-radio-is-disabled {
  color: $radio-disabled-color;
  cursor: not-allowed;

  .lin-radio-input {
    .lin-radio-inner {
      cursor: not-allowed;
      background-color: $radio-disabled-background-color;
      border-color: $radio-disabled-border-color;

      &::after {
        background-color: $radio-disabled-after-background-color;
      }
    }
  }

  .lin-radio-label {
    color: $radio-disabled-color;
  }
}
