@import "../variables/show-more.scss";

.lin-show-more {
  font-size: $show-more-font-size;
  color: $show-more-color;
}

.lin-show-more-tip {
  margin-left: $show-more-tip-margin-left;
  color: $show-more-tip-color;
  text-decoration: $show-more-tip-text-decoration;
  cursor: pointer;
}
