:root {
  --lin-color-white: #fff;
  --lin-color-black: #000;
  --lin-color-primary: #409eff;
  --lin-color-primary-light-3: #79bbff;
  --lin-color-primary-light-5: #a0cfff;
  --lin-color-primary-light-7: #c6e2ff;
  --lin-color-primary-light-8: #d9ecff;
  --lin-color-primary-light-9: #ecf5ff;
  --lin-color-primary-dark-2: #337ecc;
  --lin-color-success: #67c23a;
  --lin-color-success-light-3: #95d475;
  --lin-color-success-light-5: #b3e19d;
  --lin-color-success-light-7: #d1edc4;
  --lin-color-success-light-8: #e1f3d8;
  --lin-color-success-light-9: #f0f9eb;
  --lin-color-success-dark-2: #529b2e;
  --lin-color-warning: #e6a23c;
  --lin-color-warning-light-3: #eebe77;
  --lin-color-warning-light-5: #f3d19e;
  --lin-color-warning-light-7: #f8e3c5;
  --lin-color-warning-light-8: #faecd8;
  --lin-color-warning-light-9: #fdf6ec;
  --lin-color-warning-dark-2: #b88230;
  --lin-color-danger: #f56c6c;
  --lin-color-danger-light-3: #f89898;
  --lin-color-danger-light-5: #fab6b6;
  --lin-color-danger-light-7: #fcd3d3;
  --lin-color-danger-light-8: #fde2e2;
  --lin-color-danger-light-9: #fef0f0;
  --lin-color-danger-dark-2: #c45656;
  --lin-color-error: #f56c6c;
  --lin-color-error-light-3: #f89898;
  --lin-color-error-light-5: #fab6b6;
  --lin-color-error-light-7: #fcd3d3;
  --lin-color-error-light-8: #fde2e2;
  --lin-color-error-light-9: #fef0f0;
  --lin-color-error-dark-2: #c45656;
  --lin-color-info: #909399;
  --lin-color-info-light-3: #b1b3b8;
  --lin-color-info-light-5: #c8c9cc;
  --lin-color-info-light-7: #dedfe0;
  --lin-color-info-light-8: #e9e9eb;
  --lin-color-info-light-9: #f4f4f5;
  --lin-color-info-dark-2: #73767a;
  --lin-text-color-primary: #303133;
  --lin-text-color-regular: #606266;
  --lin-text-color-secondary: #909399;
  --lin-text-color-placeholder: #a8abb2;
  --lin-text-color-disabled: #c0c4cc;
  --lin-font-size-extra-large: 20px;
  --lin-font-size-large: 18px;
  --lin-font-size-medium: 16px;
  --lin-font-size-base: 14px;
  --lin-font-size-small: 13px;
  --lin-font-size-extra-small: 12px;
  --lin-border-color: #dcdfe6;
  --lin-border-color-light: #e4e7ed;
  --lin-border-color-lighter: #ebeef5;
  --lin-border-color-extra-light: #f2f6fc;
  --lin-border-color-dark: #d4d7de;
  --lin-border-color-darker: #cdd0d6;
  --lin-border-radius-base: 4px;
  --lin-border-radius-small: 2px;
  --lin-border-radius-round: 20px;
  --lin-border-radius-circle: 100%;
  --lin-disabled-bg-color: #f5f7fa;
  --lin-disabled-text-color: #a8abb2;
  --lin-disabled-border-color: #e4e7ed;
  --lin-fill-color: #f0f2f5;
  --lin-fill-color-light: #f5f7fa;
  --lin-fill-color-lighter: #fafafa;
  --lin-fill-color-extra-light: #fafcff;
  --lin-fill-color-dark: #ebedf0;
  --lin-fill-color-darker: #e6e8eb;
}
