@import "src/styles/variables/tag.scss";
@import "src/styles/mixin/tag.scss";

.lin-tag {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: $tag-height;
  padding: $tag-padding;
  line-height: $tag-line-height;
  font-size: $tag-font-size;

  border: $tag-border;
  border-radius: $tag-border-radius;
  box-sizing: border-box;
  white-space: nowrap;
}

.lin-tag-close {
  cursor: pointer;
  margin-left: $tag-close-margin-left;
  width: $tag-close-width;
  height: $tag-close-height;
  line-height: $tag-close-line-height;
  text-align: center;
  border-radius: $tag-close-border-radius;
  box-sizing: border-box;
  font-size: $tag-close-font-size;
  &:hover {
    color: $tag-close-hover-color;
  }
}

.lin-tag-light {
  @each $key, $val in $theme-color {
    &.lin-tag-#{$key} {
      @include tag-type($val);
      .lin-tag-close {
        &:hover {
          background-color: $val;
        }
      }
    }
  }
}

.lin-tag-dark {
  @each $key, $val in $theme-color {
    &.lin-tag-#{$key} {
      @include tag-type($val);
      .lin-tag-close {
        &:hover {
          background-color: rgba($val, 0.4);
        }
      }
    }
  }
}

.lin-tag-plain {
  @each $key, $val in $theme-color {
    &.lin-tag-#{$key} {
      @include tag-type($val);
      .lin-tag-close {
        &:hover {
          background-color: $val;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: $tag-transition;
}

.fade-enter,
.fade-leave-to {
  opacity: $tag-opacity;
}
