@import "src/styles/variables/tag.scss";
@import "src/styles/mixin/tag.scss";

.lin-tag {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: $tag-height;
  padding: $tag-padding;
  line-height: $tag-line-height;
  font-size: $tag-font-size;

  border: $tag-border;
  border-radius: $tag-border-radius;
  box-sizing: border-box;
  white-space: nowrap;
}

.lin-tag-close {
  cursor: pointer;
  margin-left: $tag-close-margin-left;
  width: $tag-close-width;
  height: $tag-close-height;
  line-height: $tag-close-line-height;
  text-align: center;
  border-radius: $tag-close-border-radius;
  box-sizing: border-box;
  font-size: $tag-close-font-size;
  &:hover {
    color: $tag-close-hover-color;
  }
}

.lin-tag-light {
  &.lin-tag-primary {
    @include tag-type(
      lighten($primary, $tag-light-primary-background-color-lighten),
      $primary,
      lighten($primary, $tag-light-primary-border-color-lighten)
    );
    .lin-tag-close {
      &:hover {
        background-color: $primary;
      }
    }
  }

  &.lin-tag-success {
    @include tag-type(
      lighten($success, $tag-light-success-background-color-lighten),
      $success,
      lighten($success, $tag-light-success-border-color-lighten)
    );
    .lin-tag-close {
      &:hover {
        background-color: $success;
      }
    }
  }

  &.lin-tag-info {
    @include tag-type(
      lighten($info, $tag-light-info-background-color-lighten),
      $info,
      lighten($info, $tag-light-info-border-color-lighten)
    );
    .lin-tag-close {
      &:hover {
        background-color: $info;
      }
    }
  }

  &.lin-tag-warning {
    @include tag-type(
      lighten($warning, $tag-light-warning-background-color-lighten),
      $warning,
      lighten($warning, $tag-light-warning-border-color-lighten)
    );
    .lin-tag-close {
      &:hover {
        background-color: $warning;
      }
    }
  }

  &.lin-tag-danger {
    @include tag-type(
      lighten($danger, $tag-light-danger-background-color-lighten),
      $danger,
      lighten($danger, $tag-light-danger-border-color-lighten)
    );
    .lin-tag-close {
      &:hover {
        background-color: $danger;
      }
    }
  }
}

.lin-tag-dark {
  @each $key, $val in $theme-color {
    &.lin-tag-#{$key} {
      @include tag-type($val, $tag-dark-color, $val);
      .lin-tag-close {
        &:hover {
          background-color: lighten($val, $tag-dark-close-hover-lighten);
        }
      }
    }
  }
}

.lin-tag-plain {
  @each $key, $val in $theme-color {
    &.lin-tag-#{$key} {
      @include tag-type($tag-plain-background-color, $val, $val);
      .lin-tag-close {
        &:hover {
          background-color: $val;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: $tag-transition;
}

.fade-enter,
.fade-leave-to {
  opacity: $tag-opacity;
}
