
@import './var';
@import "./mixin/button.scss";
@import './spinner.scss';

.lin-button {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  font-size: $font-size-small;
  font-weight: 500;
  line-height: 1;
  color: $font-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  // 禁止元素的文字被选中
  user-select: none;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: none;
  transition: 0.1s;
  appearance: none;

  &:hover,
  &:focus {
    color: $primary;
    background-color: rgba($primary, 0.2);
    border-color: rgba($primary, 0.1);
  }
}

.lin-button-size-default {
  padding: 12px 20px;

  &.lin-button-circle {
    padding: 12px;
  }
}

.lin-button-size-medium {
  padding: 10px 20px;

  &.lin-button-circle {
    padding: 10px;
  }
}

.lin-button-size-small {
  padding: 9px 15px;

  &.lin-button-circle {
    padding: 8px;
  }
}

@each $key, $val in $theme-color {
  .lin-button-#{$key} {
    color: #fff;
    background-color: $val;
    border-color: $val;

    &:hover,
    &:focus {
      color: #fff;
      background: lighten($val, 10%);
      border-color: lighten($val, 10%);
    }

    &.lin-button-loading {
      color: #fff;
      background-color: lighten($val, 10%);
      border-color: lighten($val, 10%);
    }
  }
}

// 朴素的按钮
.lin-button.lin-button-plain {
  &:hover,
  &:focus {
    @include button-plain-default(
      #fff,
      $primary ,
      $primary
    );
  }
}

@each $key, $val in $theme-color {
  .lin-button-#{$key}.lin-button-plain {
    @include button-plain-normal($val);

    &:hover,
    &:focus {
      @include button-plain-active($val);
    }
  }
}

.lin-button.lin-button-round {
  border-radius: 20px;
}

// 原形按钮
.lin-button.lin-button-circle {
  border-radius: 50%;
}

.lin-button [class*="lin-icon-"] + span {
  margin-left: 5px;
}

.lin-button-disabled {
  cursor: not-allowed;
}

.lin-button-spinner {
  margin-right: 5px;
}
