@import "./variables/choice.scss";
@import "./mixin/common.scss";
@import './input.scss';

.lin-choice-group {
  position: relative;
  display: inline-block;
}

.lin-choice-group-input {
  box-sizing: border-box;
  display: inline-block;
  width: $choice-group-input-width;
  height: $choice-group-input-height;
  padding-right: $choice-group-input-padding-right;
  padding-left: $choice-group-input-padding-left;
  line-height: $choice-group-input-height;
  color: $choice-group-input-color;
  cursor: pointer;
  background-color: $choice-group-input-background-color;
  background-image: $choice-group-input-background-image;
  border: $choice-group-input-border;
  border-radius: $choice-group-input-border-radius;
  outline: none;
  transition: $choice-group-input-transition;
  appearance: none;

  &:focus {
    border-color: $choice-group-input-focus-border-color;
  }
}

.lin-choice-group-input-container {
  position: relative;
}

.lin-choice-group-disabled {
  .lin-choice-group-input {
    color: $choice-group-disabled-input-color;
    background-color: $choice-group-disabled-input-background-color;
    border-color: $choice-group-disabled-input-border-color;
  }
}

.lin-choice-group-icon {
  position: absolute;
  top: $choice-group-icon-top;
  right: $choice-group-icon-right;
  cursor: pointer;
  transition: $choice-group-icon-transition;
  transform: $choice-group-icon-transform;
}

.lin-choice-group-down-icon {
  pointer-events: none;
}

.lin-choice-group-icon-up {
  transform: $choice-group-icon-up-transform;
}

// .lin-choice-group-close-icon {
//   width: $choice-group-close-icon-width;
//   height: $choice-group-close-icon-height;
//   font-size: $choice-group-close-icon-font-size;
//   color: $choice-group-close-icon-color;
//   border: $choice-group-close-icon-border;
//   border-radius: $choice-group-close-icon-border-radius;
// }

.lin-choice-container-wrapper {
  position: absolute;
  top: $choice-container-wrapper-top;
  left: $choice-container-wrapper-left;
  z-index: $choice-container-wrapper-z-index;
  // width: $choice-container-wrapper-width;
  min-width: $choice-container-wrapper-min-width;
  padding: $choice-container-padding;
  background-color: $choice-container-wrapper-background-color;
  border: $choice-container-border;
  border-radius: $choice-container-border-radius;
  box-shadow: $choice-container-box-shadow;
  // transform: $choice-container-wrapper-transform;

  &::before {
    position: absolute;
    left: $choice-container-wrapper-before-left;
    box-sizing: border-box;
    width: $choice-container-wrapper-before-width;
    height: $choice-container-wrapper-before-height;
    content: "";
    background-color: $choice-container-wrapper-before-background-color;
    border: $choice-container-wrapper-before-border;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: $choice-container-wrapper-before-border-radius;
  }
}

.lin-choice-container-wrapper-up {
  &::before {
    bottom: $choice-container-wrapper-up-before-top;
    transform: $choice-container-wrapper-up-before-transform;
  }
}

.lin-choice-container-wrapper-down {
  &::before {
    top: $choice-container-wrapper-down-before-top;
    transform: $choice-container-wrapper-down-before-transform;
  }
}

.lin-choice-container {
  box-sizing: border-box;
  max-height: $choice-container-max-height;
  // padding: $choice-container-padding;
  overflow-y: auto;
  // border: $choice-container-border;
  // border-radius: $choice-container-border-radius;
  // box-shadow: $choice-container-box-shadow;

  @include beautyScroll();
}

.lin-choice-search-wrapper {
  padding: $choice-search-wrapper-padding;
  margin-bottom: $choice-search-wrapper-margin-bottom;
}

.lin-choice-group-empty {
  .lin-choice-group-empty-tip {
    position: relative;
    box-sizing: border-box;
    height: $choice-empty-tip-height;
    padding: $choice-empty-tip-padding;
    margin: $choice-empty-tip-margin;
    font-size: $choice-empty-tip-font-size;
    line-height: $choice-empty-tip-height;
    color: $choice-empty-tip-color;
    cursor: pointer;
  }
}

.lin-choice-group-fade-enter-active,
.lin-choice-group-fade-leave-active {
  transition: all 300ms;
}

.lin-choice-group-fade-enter,
.lin-choice-group-fade-leave-to {
  opacity: 0;
}

.lin-choice-loading-wrapper {
  text-align: $choice-loading-wrapper-text-align;
}

.lin-choice-loading {
  display: inline-block;
  width: $choice-loading-width;
  height: $choice-loading-width;
  margin: $choice-loading-margin;
  border: $choice-loading-border;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: $choice-loading-border-radius;
  animation: $choice-loading-animation;
}

.lin-choice-loading-tip {
  margin-left: $choice-loading-tip-margin-left;
  font-size: $choice-loading-tip-font-size;
  color: $choice-loading-tip-color;
  vertical-align: $choice-loading-tip-vertical-align;
}
