@import './var';

.lin-date-picker {
  position: relative;
  display: inline-block;
  color: $font-color;
}

.lin-date-picker-input-box {
  position: relative;
}

.lin-date-picker-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  font-size: $font-size-big;
  transform: translateY(-50%);
}

.lin-date-picker-input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 15px 0 30px;
  font-size: inherit;
  line-height: 40px;
  color: $font-color;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: none;
  transition:
    border-color 0.2s
    cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    border-color: darken($border-color, 30%);
  }
}

.lin-date-picker-absolute {
  position: absolute;
  z-index: 100;
}

.lin-date-picker-pannel {
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.lin-date-picker-pannel-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;

  span {
    cursor: pointer;
    user-select: none;
  }
}

.lin-date-picker-month {
  margin-left: 10px;
}

.lin-date-picker-cell {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.lin-date-picker-pannel-row {
  white-space: nowrap;
}

.lin-date-picker-pannel-cell {
  cursor: pointer;
  border: 1px solid transparent;

  .lin-date-picker-info {
    font-size: $font-size-base;
  }

  &:hover {
    border: 1px solid $primary;
    border-radius: 4px;
  }
}

.lin-date-picker-pannel-label-cell {
  cursor: default;
}

.lin-date-picker-not-current-month {
  color: $disabled-font-color;
}

.lin-date-picker-disabled {
  color: $disabled-font-color;
  cursor: not-allowed;
  background-color: $disabled-background-color;
  border-color: $disabled-border-color;
}

.lin-date-picker-disabled-date {
  color: $disabled-font-color;
  cursor: not-allowed;
  background-color: $disabled-background-color;
  border-color: $disabled-background-color;

  &:hover {
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

.lin-date-picker-current-val {
  color: #fff;
  background-color: $primary;
  border-radius: 4px;

  &:hover {
    border-color: $primary;
  }
}

.lin-date-picker-radius {
  border-radius: 50%;

  &:hover {
    border-radius: 50%;
  }
}

.lin-date-picker-fade-leave-active,
.lin-date-picker-fade-enter-active {
  transition: all 300ms;
}

.lin-date-picker-fade-leave-to,
.lin-date-picker-fade-enter {
  opacity: 0;
}
