@import './var';

@keyframes dialog-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lin-dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2001;
  margin: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .lin-dialog {
    position: absolute;
    box-sizing: border-box;
    width: 30%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &-header {
      padding: 20px 20px 10px;

      .lin-dialog-title {
        font-size: $font-size-big;
        line-height: 24px;
        color: $font-color;
      }

      .lin-dialog-headerbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        font-size: $font-size-normal;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;

        .lin-icon-close {
          color: $font-color;
        }
      }
    }

    &-body {
      padding: 30px 20px;
      font-size: $font-size-small;
      color: $font-color;
      word-break: break-all;
    }

    &-footer {
      box-sizing: border-box;
      padding: 10px 20px 20px;
      text-align: right;
    }
  }
}

.lin-dialog-fade-enter-active {
  animation: dialog-animation 0.3s;
}

.lin-dialog-fade-leave-active {
  animation: dialog-animation 0.3s reverse;
}

.user-select-none {
  user-select: none;
}
