@import './var';

@keyframes formitem-animation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lin-form-item {
  position: relative;
  margin-bottom: 20px;

  .lin-form-item-label {
    box-sizing: border-box;
    float: left;
    padding: 0 12px 0 0;
    font-size: $font-size-small;
    line-height: 40px;
    color: $font-color;
    text-align: right;
    vertical-align: middle;
  }

  .lin-form-item-content {
    position: relative;
    overflow: hidden;
    font-size: $font-size-base;
    line-height: 20px;
  }

  .lin-form-item-errormsg {
    position: absolute;
    bottom: -20px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: $font-size-base;
    line-height: 20px;
    color: $danger;
  }
}

.lin-formItem-fade-enter-active {
  animation: formitem-animation 0.2s;
}

.lin-formItem-fade-leave-active {
  animation: formitem-animation 0.2s reverse;
}
