@import "./var";

.lin-hover-effect {
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
  font-weight: 300;
  border: 0;
  outline: none;
}

.lin-hover-effect-theme-neon {
  background-color: transparent;
  transition: all 300ms;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;
      border: 1px solid $val;

      &:hover {
        color: white;
        background-color: $val;
        border-color: $val;
        box-shadow: 10px 10px 99px 6px $val;
      }
    }
  }
}

.lin-hover-effect-theme-border {
  box-sizing: border-box;
  background: none;

  &::before,
  &::after {
    position: absolute;
    box-sizing: inherit;
    width: 0;
    height: 0;
    content: "";
    border: 2px solid transparent;
  }

  &::after {
    right: 0;
    bottom: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    transition:
      width 0.3s ease-out,
      height 0.3s ease-out 0.3s;
  }

  &:hover::after {
    transition:
      border-color 0s ease-out 0.6s,
      width 0.3s ease-out 0.6s,
      height 0.3s ease-out 1s;
  }

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;

      &:hover::before {
        border-top-color: $val;
        border-right-color: $val;
      }

      &:hover::after {
        border-bottom-color: $val;
        border-left-color: $val;
      }
    }
  }
}

.lin-hover-effect-theme-fillet {
  color: #fff;
  border-radius: 10px;
  transition: border-radius 1s;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      background: $val;
    }
  }

  &:hover {
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
  }
}

.lin-hover-effect-theme-frozen {
  color: #fff;
  border-radius: 50px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background:
      linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.4) 50%
      );
    background-position: right bottom;
    background-size: 210% 100%;
    border-radius: 50px;
    transition: all 1s;
  }

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      background: linear-gradient(to right, $val, adjust-hue($val, 30deg));
      box-shadow: 0 4px 15px 0 $val;
    }
    &.lin-hover-effect-type-#{$key}:hover:before {
      background-position: left bottom;
    }
  }
}

.lin-hover-effect-theme-shiny {
  background: transparent;

  @each $key, $val in $theme-color {
    &.lin-hover-effect-type-#{$key} {
      color: $val;
      border: 2px solid $val;

      &::after {
        background: $val;
      }
    }
  }

  &::after {
    position: absolute;
    top: -36px;
    left: -100px;
    display: block;
    width: 50px;
    height: 125px;
    content: "";
    opacity: 20%;
    transform: rotate(-45deg);
  }

  &:hover::after {
    left: 120%;
    transition: all 1s cubic-bezier(0.3, 1, 0.2, 1);
  }
}
