@import "./var";

.lin-image {
  display: inline-block;
  vertical-align: top;
}

.lin-image-img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.lin-image-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: $font-size-small;
  color: $disabled-font-color;
  background: $disabled-background-color;
}

.lin-image-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.lin-image-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid #111;
  border-radius: 50%;
}

.lin-image-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #111;
}

.lin-image-line-left {
  transform: rotate(45deg);
}

.lin-image-line-right {
  transform: rotate(-45deg);
}

.lin-image-animation-enter,
.lin-image-animation-leave-to {
  opacity: 0;
  transform: scale(0.3);
}

.lin-image-animation-enter-to,
.lin-image-animation-leave {
  opacity: 1;
  transform: scale(1);
}

.lin-image-object-fill {
  object-fit: fill;
}

.lin-image-object-contain {
  object-fit: contain;
}

.lin-image-object-cover {
  object-fit: cover;
}

.lin-image-object-none {
  object-fit: none;
}

.lin-image-object-scale-down {
  object-fit: scale-down;
}
