@import "./var";

$input-height: 40px !default;

.lin-input {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font-size-small;

  .lin-input-inner {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: $input-height;
    padding: 0 15px;
    font-size: inherit;
    line-height: $input-height;
    color: $font-color;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-appearance: none;

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &:focus {
      border-color: $primary;
      outline: none;
    }

    &.lin-input-is-disabled {
      color: $disabled-font-color;
      cursor: not-allowed;
      background-color: $disabled-background-color;
      border-color: $disabled-border-color;
    }
  }
}

.lin-input-suffix-content {
  .lin-input-inner {
    padding-right: 30px;
  }
}

.lin-input-suffix {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 900;
  height: 100%;
  line-height: $input-height;
  color: $disabled-font-color;
  text-align: center;
  transition: all 0.3s;

  .lin-input-icon {
    font-size: $font-size-big;
    color: $disabled-font-color;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .lin-icon-view-active {
    color: $primary;
  }
}
