@import "./var";

.lin-limit-textarea {
  position: relative;
}

.lin-limit-textarea-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px 7px;
  font-size: $font-size-small;
  line-height: 1.5;
  color: $font-color;
  resize: vertical;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: 0;
  transition:
    border-color 0.2s
    cubic-bezier(0.645, 0.045, 0.355, 1);
}

.lin-limit-textarea-input:focus {
  border: 1px solid $primary;
}

.lin-limit-textarea-over {
  border: 1px solid $danger;
}

.lin-limit-textarea-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: $font-size-base;
  color: $font-color;
}

.lin-limit-textarea-num {
  color: $success;
}

.lin-limit-textarea-num-over {
  color: $danger;
}
