@import "./var";

.lin-magnifier {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid $border-color;
}

.lin-magnifier-small {
  width: 100%;
  height: 100%;
  cursor: move;
}

.lin-magnifier-big {
  position: absolute;
  top: 0;
  overflow: hidden;
  border: 1px solid $border-color;
}

.lin-magnifier-move-slot {
  position: absolute;
  top: 0;
  left: 0;
}

.lin-magnifier-move {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 0, 0.3);
}

.lin-magnifier-big-slot {
  position: absolute;
  top: 0;
  left: 0;
}

.lin-magnifier-big-img {
  display: block;
}
