@import "./variables/player-volume.scss";

.lin-player-volume {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    .lin-player-volume-mask {
      width: $player-volume-hover-width;
      padding: $player-volume-hover-padding;
    }
  }
}

.lin-player-volume-mask {
  position: relative;
  width: 0;
  padding: 0;
  margin-left: $player-volume-margin-left;
  overflow: hidden;
  cursor: pointer;
  transition: $player-volume-transition;
}

.lin-player-volume-process {
  position: relative;
  width: $player-volume-hover-width;
  height: $player-volume-process-height;
  margin: $player-volume-process-margin;
  background-color: $player-volume-process-background-color;
}

.lin-player-volume-process-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: $player-volume-process-line-background-color;
}

.lin-player-volume-process-ball {
  position: absolute;
  top: $player-volume-process-ball-top;
  right: $player-volume-process-ball-right;
  width: $player-volume-process-ball-width;
  height: $player-volume-process-ball-height;
  background-color: $player-volume-process-ball-background-color;
  border-radius: $player-volume-process-ball-border-radius;
  transform: $player-volume-process-ball-transform;
}

.lin-player-volume-icon {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: $player-volume-icon-margin-left;
  vertical-align: top;
  cursor: pointer;

  > i {
    font-size: $player-volume-icon-font-size;
    color: $player-volume-icon-color;
  }
}
