@import "./var";

.lin-radio {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: $font-size-small;
  font-weight: 500;
  line-height: 1;
  color: $font-color;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline: none;

  .lin-radio-input {
    position: relative;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    outline: none;

    .lin-radio-inner {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid $border-color;
      border-radius: 100%;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        content: "";
        background-color: #fff;
        border-radius: 100%;
        transition: transform 0.15s ease-in;
        transform: translate(-50%, -50%) scale(0);
      }
    }

    .lin-radio-original {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 0;
      outline: none;
      opacity: 0;
    }
  }

  .lin-radio-label {
    padding-left: 10px;
    font-size: $font-size-small;
  }
}

.lin-radio-is-checked {
  .lin-radio-input {
    .lin-radio-inner {
      background: $primary;
      border-color: $primary;

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .lin-radio-label {
    color: $primary;
  }
}

.lin-radio-is-disabled {
  color: $disabled-font-color;
  cursor: not-allowed;

  .lin-radio-input {
    .lin-radio-inner {
      cursor: not-allowed;
      background-color: $disabled-background-color;
      border-color: $disabled-border-color;

      &::after {
        background-color: $disabled-font-color;
      }
    }
  }

  .lin-radio-label {
    color: $disabled-font-color;
  }
}
