@import "./variables/scroll-bar.scss";
@import './spinner.scss';

.user-no-select {
  user-select: none;
}

.lin-scroll-bar {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.lin-scroll-bar-wrapper {
  position: relative;
  margin-right: $scroll-bar-wrapper-margin-right;
  overflow-y: scroll;
}

.lin-srcoll-bar-barwrapper {
  position: absolute;
  top: $scroll-bar-barwrapper-top;
  right: $scroll-bar-barwrapper-right;
  width: $scroll-bar-barwrapper-width;
  height: 100%;
  background-color: $scroll-bar-barwrapper-background-color;
}

.lin-srcoll-bar-bar {
  position: absolute;
  top: $scroll-bar-bar-top;
  left: $scroll-bar-bar-left;
  width: $scroll-bar-bar-width;
  cursor: pointer;
  background-color: $scroll-bar-bar-background-color;
  border-radius: $scroll-bar-bar-border-radius;

  &:hover {
    background-color: $scroll-bar-bar-hover-background-color;
  }
}

.lin-scroll-bar-spinner {
  padding: $scroll-bar-spinner-padding;
  text-align: $scroll-bar-spinner-text-align;
}
