@import "./variables/switch.scss";

.lin-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: $switch-height;
  font-size: $switch-font-size;
  line-height: $switch-line-height;
  vertical-align: middle;
}

.lin-switch-input {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.lin-switch-core {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $switch-core-width;
  height: $switch-core-height;
  margin: $switch-core-margin;
  vertical-align: middle;
  cursor: pointer;
  background: $switch-core-background;
  border: $switch-core-border;
  border-radius: $switch-core-border-radius;
  outline: none;
  transition: $switch-core-transition;

  .lin-switch-button {
    position: absolute;
    top: $switch-button-top;
    left: $switch-button-left;
    width: $switch-button-width;
    height: $switch-button-height;
    background-color: $switch-button-background-color;
    border-radius: $switch-button-border-radius;
    transition: $switch-button-transition;
  }
}

.lin-switch.lin-switch-is-checked {
  .lin-switch-core {
    background-color: $switch-checked-background-color;
    border-color: $switch-checked-border-color;

    .lin-switch-button {
      transform: $switch-checked-transform;
    }
  }
}

.lin-switch-is-disabled {
  cursor: not-allowed;
  opacity: 0.6;

  .lin-switch-core {
    cursor: not-allowed;
  }
}
