@import "./variables/video-card.scss";

.video-card {
  cursor: pointer;
  background: $video-card-background;
  border: $video-card-border;
  border-radius: $video-card-border-radius;
  transition: $video-card-transition;

  &:hover {
    box-shadow: $video-card-box-shadow;
    transform: $video-card-transform;
  }
}

.video-cover-box {
  position: relative;
  width: 100%;
  border-radius: $video-card-cover-border-radius;

  .error-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: $video-card-error-tip-font-size;
    color: $video-card-error-tip-color;
    background: $video-card-error-tip-background;
  }

  .cover-image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .cover-tip {
    position: absolute;
    right: $video-card-cover-tip-right;
    bottom: $video-card-cover-tip-bottom;
    padding: $video-card-cover-tip-padding;
    font-size: $video-card-cover-tip-font-size;
    font-weight: $video-card-cover-tip-font-weight;
    line-height: $video-card-cover-tip-line-height;
    color: $video-card-cover-tip-color;
    background: $video-card-cover-tip-background;
    border-radius: $video-card-cover-tip-border-radius;
  }
}
