@import "packages/assets/styles/variables/input.scss";
.lin-input {
  width: 100%;
  position: relative;
  font-size: $input-font-size;
  display: inline-block;
  .lin-input-inner {
    -webkit-appearance: none;
    background-color: $input-inner-background-color;
    background-image: none;
    border-radius: $input-inner-border-radius;
    border: $input-inner-border;
    box-sizing: border-box;
    color: $input-inner-color;
    display: inline-block;
    font-size: inherit;
    height: $input-inner-height;
    line-height: $input-inner-line-height;
    outline: none;
    padding: $input-inner-padding;
    transition: $input-inner-transition;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $input-inner-focus-border-color;
    }
    &.lin-input-is-disabled {
      background-color: $input-inner-disabled-background-color;
      border-color: $input-inner-disabled-border-color;
      color: $input-inner-disabled-color;
      cursor: not-allowed;
    }
  }
}

.lin-input-suffix-content {
  .lin-input-inner {
    padding-right: $input-suffix-inner-padding-right;
  }
}
.lin-input-suffix {
  position: absolute;
  height: 100%;
  right: $input-suffix-right;
  top: $input-suffix-top;
  line-height: $input-suffix-line-height;
  text-align: $input-suffix-text-align;
  color: $input-suffix-color;
  transition: $input-suffix-transition;
  z-index: $input-suffix-z-index;
  .lin-input-icon {
    color: $input-suffix-icon-color;
    font-size: $input-suffix-icon-font-size;
    cursor: pointer;
    transition: $input-suffix-icon-transition;
  }
  .lin-icon-view-active {
    color: $input-suffix-icon-active-color;
  }
}
