@import "src/styles/variables/collapse.scss";

.lin-collapse-group {
    position: relative;
    border: $collapse-border;
  }
  
  .lin-collapse-group-simple {
    border-left: none;
    border-right: none;
  }