@import "packages/assets/styles/variables/radio.scss";
.lin-radio {
  color: $radio-color;
  font-weight: $radio-font-weight;
  line-height: $radio-line-height;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $radio-font-size;
  margin-right: $radio-margin-right;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  .lin-radio-input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: $radio-input-line-height;
    position: relative;
    vertical-align: middle;
    .lin-radio-inner {
      border: $radio-inner-border;
      border-radius: $radio-inner-border-radius;
      width: $radio-inner-width;
      height: $radio-inner-height;
      background-color: $radio-inner-background-color;
      position: relative;
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      &:after {
        width: $radio-inner-after-width;
        height: $radio-inner-after-height;
        border-radius: $radio-inner-after-border-radius;
        background-color: $radio-inner-after-background-color;
        content: "";
        position: absolute;
        left: $radio-inner-after-left;
        top: $radio-inner-after-top;
        transform: $radio-inner-after-transform;
        transition: $radio-inner-after-transition;
      }
    }
    .lin-radio-original {
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0px;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }
  .lin-radio-label {
    font-size: $radio-label-font-size;
    padding-left: $radio-label-padding-left;
  }
}

.lin-radio-is-checked {
  .lin-radio-input {
    .lin-radio-inner {
      border-color: $radio-checked-border-color;
      background: $radio-checked-background;
      &:after {
        transform: $radio-checked-transform;
      }
    }
  }
  .lin-radio-label {
    color: $radio-checked-color;
  }
}

.lin-radio-is-disabled {
  cursor: not-allowed;
  color: $radio-disabled-color;
  .lin-radio-input {
    .lin-radio-inner {
      cursor: not-allowed;
      border-color: $radio-disabled-border-color;
      background-color: $radio-disabled-background-color;
      &:after {
        background-color: $radio-disabled-after-background-color;
      }
    }
  }
  .lin-radio-label {
    color: $radio-disabled-color;
  }
}
