@import "src/styles/variables/checkbox.scss";
.lin-checkbox {
  color: $checkbox-color;
  font-weight: $checkbox-font-weight;
  font-size: $checkbox-font-size;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: $checkbox-margin-right;
  .lin-checkbox-input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: $checkbox-input-line-height;
    position: relative;
    vertical-align: middle;
    .lin-checkbox-inner {
      display: inline-block;
      position: relative;
      border: $checkbox-inner-border;
      border-radius: $checkbox-inner-border-radius;
      box-sizing: border-box;
      width: $checkbox-inner-width;
      height: $checkbox-inner-height;
      background-color: $checkbox-inner-background-color;
      z-index: $checkbox-inner-z-index;
      transition: $checkbox-inner-transition;
      &:after {
        box-sizing: content-box;
        content: "";
        border: $checkbox-inner-after-border;
        border-left: $checkbox-inner-after-border-left;
        border-top: $checkbox-inner-after-border-top;
        height: $checkbox-inner-after-height;
        left: $checkbox-inner-after-left;
        position: absolute;
        top: $checkbox-inner-after-top;
        transform: $checkbox-inner-after-transform;
        width: $checkbox-inner-after-width;
        transition: $checkbox-inner-after-transition;
        transform-origin: $checkbox-inner-after-transform-origin;
      }
    }
    .lin-checkbox-original {
      opacity: 0;
      outline: none;
      position: absolute;
      left: 10px;
      margin: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
  }
  .lin-checkbox-label {
    display: inline-block;
    padding-left: $checkbox-label-padding-left;
    line-height: $checkbox-label-line-height;
    font-size: $checkbox-label-font-size;
  }
}
.lin-checkbox.lin-checkbox-is-checked {
  .lin-checkbox-input {
    .lin-checkbox-inner {
      background-color: $checkbox-checked-background-color;
      border-color: $checkbox-checked-border-color;
      &:after {
        transform: $checkbox-checked-transform;
      }
    }
  }
  .lin-checkbox-label {
    color: $checkbox-checked-color;
  }
}
.lin-checkbox-is-disabled {
  cursor: not-allowed;
  color: $checkbox-disabled-color;
  .lin-checkbox-input {
    cursor: not-allowed;
  }
}
