@import "src/styles/variables/scroll-view.scss";

.lin-scroll-view {
  overflow-y: auto;
}

.lin-scroll-view-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $scroll-view-loading-height;
}

.lin-scroll-view-icon {
  width: $scroll-view-icon-width;
  height: $scroll-view-icon-height;
  border: $scroll-view-icon-border;
  border-top-color: $scroll-view-icon-border-top-color;
  border-left-color: $scroll-view-icon-border-left-color;
  border-radius: $scroll-view-icon-border-radius;
  animation: $scroll-view-icon-animation;
}

.lin-scroll-view-tip {
  margin-left: $scroll-view-tip-margin-left;
  font-size: $scroll-view-tip-font-size;
  color: $scroll-view-tip-color;
}

.lin-scroll-view-nomore-tip {
  padding: $scroll-view-nomore-tip-padding;
  margin: $scroll-view-nomore-tip-margin;
  font-size: $scroll-view-nomore-tip-font-size;
  line-height: $scroll-view-nomore-line-height;
  color: $scroll-view-nomore-tip-color;
  text-align: center;
}
