@import "src/styles/variables/page-header.scss";

.lin-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: $page-header-height;
  padding: $page-header-padding;
  cursor: default;
  user-select: none;
  background-color: $page-header-background-color;
}

.lin-page-header-border-bottom {
  border-bottom: $page-header-border-border-bottom;
}

.lin-page-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-page-header-back {
  position: relative;
  margin-right: $page-header-back-margin-right;

  &::after {
    position: absolute;
    top: $page-header-back-after-top;
    right: $page-header-back-after-right;
    width: $page-header-back-after-width;
    height: $page-header-back-after-height;
    content: '';
    // background-color: #dcdfe6;
    background-color: $page-header-back-after-background-color;
    transform: $page-header-back-after-transform;
  }
}

.lin-page-header-back-wrapper {
  cursor: pointer;

  &:hover {
    color: $page-header-back-wrapper-hover-color;
  }

  >i {
    margin-right: $page-header-back-wrapper-i-margin-right;
  }

  >span {
    font-size: $page-header-back-wrapper-span-font-size;
    font-weight: $page-header-back-wrapper-span-font-weight;
  }
}

.lin-page-header-content {
  font-size: $page-header-content-font-size;
  color: $page-header-content-color;
}

.lin-page-header-active {
  position: relative;

  &::after {
    position: absolute;
    top: $page-header-active-top;
    left: $page-header-active-left;
    width: $page-header-active-width;
    height: $page-header-active-height;
    margin-top: $page-header-active-margin-top;
    content: '';
    background-color: $page-header-active-background-color;
  }
}

.lin-page-header-more {
  cursor: pointer;

  &:hover {
    color: $page-header-more-hover-color;
  }

  >i {
    margin-right: $page-header-more-i-margin-right;
  }

  >span {
    font-size: $page-header-more-span-font-size;
    font-weight: $page-header-more-span-font-weight;
  }
}
