@import "src/styles/variables/show-more.scss";
.lin-show-more {
  font-size: $show-more-font-size;
  color: $show-more-color;
}

.lin-show-more-tip {
  color: $show-more-tip-color;
  cursor: pointer;
  text-decoration: $show-more-tip-text-decoration;
  margin-left: $show-more-tip-margin-left;
}
