@import "src/styles/variables/backtop.scss";

.lin-backtop {
  position: fixed;
}

.lin-backtop-container {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $backtop-container-width;
  height: $backtop-container-height;
  cursor: pointer;
  background-color: $backtop-container-background-color;
  border-radius: $backtop-container-border-radius;
  box-shadow: $backtop-container-box-shadow;

  &:hover {
    background-color: $backtop-container-hover-background-color;
  }
}

.lin-backtop-triangle {
  width: 0;
  height: 0;
  border: $backtop-triangle-border;
  border-right-color: $backtop-triangle-border-right-color;
  border-bottom-color: $backtop-triangle-border-bottom-color;
  transform: $backtop-triangle-transform;
}

.lin-backtop-fade-enter-active,
.lin-backtop-fade-leave-active {
  transition: all 300ms;
}

.lin-backtop-fade-enter,
.lin-backtop-fade-leave-to {
  opacity: 0;
}
