@import "./common";
@import "../animations/index.scss";

$dialog-wrapper-background-color: rgba(0, 0, 0, 0.5) !default;

$dialog-margin: 15vh auto 50px !default;
$dialog-background: #fff !default;
$dialog-border-radius: 2px !default;
$dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$dialog-width: 30% !default;

$dialog-header-padding: 20px 20px 10px !default;

$dialog-title-line-height: 24px !default;
$dialog-title-font-size: $font-size-big !default;
$dialog-title-color: darken($font-color, 20%) !default;

$dialog-headerbtn-top: 20px !default;
$dialog-headerbtn-right: 20px !default;
$dialog-headerbtn-padding: 0 !default;
$dialog-headerbtn-background: transparent !default;
$dialog-headerbtn-border: none !default;
$dialog-headerbtn-outline: none !default;
$dialog-headerbtn-font-size: $font-size-normal !default;

// $dialog-close-color: lighten($font-color, 20%) !default;
$dialog-close-color: rgba($font-color, 0.6) !default;

$dialog-body-padding: 30px 20px !default;
$dialog-body-color: $font-color !default;
$dialog-body-font-size: $font-size-small !default;
$dialog-body-word-break: break-all !default;

$dialog-footer-padding: 10px 20px 20px !default;
$dialog-footer-text-align: right !default;

$dialog-animation-enter: dialog-animation 0.3s !default;
$dialog-animation-leave: dialog-animation 0.3s reverse !default;
