@import "./common";

$pagination-font-size: $font-size-small !default;

$pagination-total-margin: 0 5px !default;
$pagination-total-color: $font-color !default;

$pagination-background-item-background-color: $background-color !default;
$pagination-background-item-color: $font-color !default;
$pagination-background-disabled-background-color: $disabled-background-color !default;
$pagination-background-disabled-color: $disabled-font-color !default;
$pagination-background-icon-background-color: $background-color !default;
$pagination-background-active-background-color: $primary !default;
$pagination-background-active-color: #fff !default;

$pagination-pager-padding: 0 !default;

$pagination-item-width: 30px !default;
$pagination-item-height: 28px !default;
$pagination-item-border-radius: 2px !default;
$pagination-item-line-height: 28px !default;
$pagination-item-margin: 0 5px !default;
$pagination-item-font-weight: bold !default;
$pagination-item-hover-color: $primary !default;

$pagination-icon-top: 0 !default;
$pagination-icon-left: 0 !default;
$pagination-icon-width: 30px !default;
$pagination-icon-height: 28px !default;
$pagination-icon-line-height: 28px !default;
$pagination-icon-background-color: #fff !default;
$pagination-icon-font-size: $font-size-base !default;
$pagination-icon-color: $primary !default;

$pagination-active-color: $primary !default;

$pagination-disabled-color: $disabled-font-color !default;

$pagination-jumpe-margin: 0 5px !default;

$pagination-input-width: 46px !default;
$pagination-input-height: 28px !default;
$pagination-input-padding: 0 3px !default;
$pagination-input-border-radius: 4px !default;
$pagination-input-border: 1px solid $border-color !default;
$pagination-input-margin: 0 5px !default;
$pagination-input-transition: all 300ms !default;
$pagination-input-hover-border-color: darken($border-color, 10%) !default;
$pagination-input-focus-border-color: $primary !default;
