@import "./common";

$radio-color: $font-color !default;
$radio-font-weight: 500 !default;
$radio-line-height: 1 !default;
$radio-font-size: 14px !default;
$radio-margin-right: 30px !default;

$radio-input-line-height: 1 !default;

$radio-inner-border: 1px solid $border-color !default;
$radio-inner-border-radius: 100% !default;
$radio-inner-width: 14px !default;
$radio-inner-height: 14px !default;
$radio-inner-background-color: #fff !default;
$radio-inner-after-width: 4px !default;
$radio-inner-after-height: 4px !default;
$radio-inner-after-border-radius: 100% !default;
$radio-inner-after-background-color: #fff !default;
$radio-inner-after-left: 50% !default;
$radio-inner-after-top: 50% !default;
$radio-inner-after-transform: translate(-50%, -50%) scale(0) !default;
$radio-inner-after-transition: transform 0.15s ease-in !default;

$radio-label-font-size: 14px !default;
$radio-label-padding-left: 10px !default;

$radio-checked-border-color: $primary !default;
$radio-checked-background: $primary !default;
$radio-checked-transform: translate(-50%, -50%) scale(1) !default;
$radio-checked-color: $primary !default;

$radio-disabled-color: $disabled-font-color !default;
$radio-disabled-border-color: $disabled-border-color !default;
$radio-disabled-background-color: $disabled-background-color !default;
$radio-disabled-border-radius: $disabled-font-color !default;
$radio-disabled-after-background-color: $disabled-font-color !default;
