@import "./common";
@import "../animations/rotate-animation.scss";

$scroll-view-loading-height: 30px !default;

$scroll-view-icon-width: 16px !default;
$scroll-view-icon-height: 16px !default;
$scroll-view-icon-border-radius: 50% !default;
$scroll-view-icon-border: 1px solid transparent !default;
$scroll-view-icon-border-top-color: $primary !default;
$scroll-view-icon-border-left-color: $primary !default;
$scroll-view-icon-animation: rotate-animation 500ms linear infinite !default;

$scroll-view-tip-font-size: $font-size-small !default;
$scroll-view-tip-color: $font-color !default;
$scroll-view-tip-margin-left: 10px !default;

$scroll-view-nomore-tip-font-size: $font-size-small !default;
$scroll-view-nomore-tip-color: $font-color !default;
$scroll-view-nomore-tip-margin: 0 !default;
$scroll-view-nomore-tip-padding: 0 !default;
$scroll-view-nomore-line-height: 30px !default;
