@import './common';
@import '../animations/rotate-animation.scss';

$spinner-text-margin-left: 5px !default;
$spinner-text-margin-top: 5px !default;
$spinner-text-font-size: 14px !default;
$spinner-text-color: #606266 !default;

$spinner-loading-width: 24px !default;
$spinner-loading-height: 24px !default;
$spinner-loading-border-radius: 50% !default;
$spinner-loading-border-width: 1px !default;
$spinner-loading-border-style: solid !default;
$spinner-loading-animation-name: rotate-animation !default;
$spinner-loading-animation-duration: 600ms !default;
$spinner-loading-animation-timing-function: linear !default;
$spinner-loading-animation-iteration-count: infinite !default;
