@import "./common";
@import "../animations/index.scss";

$video-player-background-color: #000 !default;

$video-player-video-object-fit: fill !default;

$video-player-tip-left: 20px !default;
$video-player-tip-bottom: 50px !default;
$video-player-tip-border-radius: 4px !default;
$video-player-tip-background-color: rgba(0, 0, 0, 0.6) !default;
$video-player-tip-color: #fff !default;
$video-player-tip-font-size: 14px !default;
$video-player-tip-padding: 7px 20px !default;

$video-player-speed-margin-right: 10px !default;
$video-player-speed-color: #fff !default;
$video-player-speed-label-height: 20px !default;
$video-player-speed-label-padding: 5px !default;
$video-player-speed-label-font-size: 12px !default;
$video-player-speed-label-min-width: 60px !default;
$video-player-speed-list-list-style: none !default;
$video-player-speed-list-top: 0 !default;
$video-player-speed-list-left: 50% !default;
$video-player-speed-list-transform: translateX(-50%) !default;
$video-player-speed-list-margin: 0 !default;
$video-player-speed-list-padding: 5px 0 !default;
$video-player-speed-list-background-color: rgba(0, 0, 0, 0.6) !default;
$video-player-speed-label-hover-background-color: rgba(0, 0, 0, 0.2) !default;

$video-player-loading-color: hsla(0, 0%, 100%, 0.7) !default;
$video-player-loading-font-size: 30px !default;
$video-player-loading-animation: rotate-animation 2s linear infinite !default;

$video-player-controls-height: 40px !default;
$video-player-controls-group-padding: 0 20px !default;
$video-player-controls-mask-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
  repeat-x bottom !default;
$video-player-controls-mask-height: 98px !default;
$video-player-controls-icon-color: #fff !default;
$video-player-controls-icon-font-size: 30px !default;
$video-player-controls-time-margin-left: 15px !default;
$video-player-controls-time-font-size: 12px !default;
$video-player-controls-time-color: #fff !default;
$video-player-controls-live-tip-font-size: 14px !default;
$video-player-controls-live-tip-color: #fff !default;
$video-player-controls-live-tip-margin-left: 20px !default;
$video-player-controls-live-tip-width: 6px !default;
$video-player-controls-live-tip-height: 6px !default;
$video-player-controls-live-tip-border-radius: 50% !default;
$video-player-controls-live-tip-margin-right: 5px !default;
$video-player-controls-live-tip-background-color: rgb(183, 218, 255) !default;
$video-player-controls-process-box-top: -8px !default;
$video-player-controls-process-box-left: 0 !default;
$video-player-controls-process-box-padding: 0 20px !default;
$video-player-controls-right-right: 20px !default;
$video-player-controls-right-top: 0 !default;

$video-player-animation-top: 50% !default;
$video-player-animation-left: 50% !default;
$video-player-animation-transform: translate(-50%, -50%) !default;
$video-player-animation-width: 60px !default;
$video-player-animation-height: 60px !default;
$video-player-animation-border-radius: 50% !default;
$video-player-animation-font-size: 40px !default;
$video-player-animation-color: #fff !default;
$video-player-animation-enter-active-animation: enter-active-animation 0.3s
  ease-out !default;

$video-player-definition-margin-right: 10px !default;
$video-player-definition-color: #fff !default;
$video-player-definition-label-height: 20px !default;
$video-player-definition-label-padding: 5px 10px !default;
$video-player-definition-label-font-size: 12px !default;
$video-player-definition-list-top: 0 !default;
$video-player-definition-list-left: 50% !default;
$video-player-definition-list-transform: translateX(-50%) !default;
$video-player-definition-list-margin: 0 !default;
$video-player-definition-list-padding: 5px 0 !default;
$video-player-definition-list-background-color: rgba(0, 0, 0, 0.6) !default;
$video-player-definition-label-hover-background-color: rgba(
  0,
  0,
  0,
  0.2
) !default;
