@keyframes rotate-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dialog-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes formItem-animation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes BallEnterAnimation {
  0% {
    transform: translateY(-50%) scale(0);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes EnterActiveAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(1.4);
  }
}


@keyframes skeleton-opacity
{
  0%   {opacity: 1;}
  10%   {opacity: 0.9;}
  20%  {opacity: 0.8;}
  30%  {opacity: 0.7;}
  40%  {opacity: 0.6;}
  50%  {opacity: 0.5;}
  60% {opacity: 0.6;}
  70%  {opacity: 0.7;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.9;}
  100% {opacity: 0.95;}
}

.fade-enter-active,
.fade-leave-active {
  transition: all 300ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 1;
}