@import "src/styles/variables/video-card.scss";
.video-card {
  cursor: pointer;
  background: $video-card-background;
  border: $video-card-border;
  border-radius: $video-card-border-radius;
  transition: $video-card-transition;
  &:hover {
    box-shadow: $video-card-box-shadow;
    transform: $video-card-transform;
  }
}
.video-cover-box {
  width: 100%;
  border-radius: $video-card-cover-border-radius;
  position: relative;
  .error-tip {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $video-card-error-tip-background;
    color: $video-card-error-tip-color;
    font-size: $video-card-error-tip-font-size;
  }
  .cover-image {
    display: block;
    height: 100%;
    width: 100%;
  }
  .cover-tip {
    position: absolute;
    bottom: $video-card-cover-tip-bottom;
    right: $video-card-cover-tip-right;
    line-height: $video-card-cover-tip-line-height;
    background: $video-card-cover-tip-background;
    border-radius: $video-card-cover-tip-border-radius;
    padding: $video-card-cover-tip-padding;
    font-size: $video-card-cover-tip-font-size;
    font-weight: $video-card-cover-tip-font-weight;
    color: $video-card-cover-tip-color;
  }
}
