@import "packages/assets/styles/variables/input-number.scss";

.lin-input-number {
  width: $input-number-width;
  height: $input-number-height;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border-radius: $input-number-border-radius;
}
.lin-input-number-btn {
  width: $input-number-btn-width;
  background-color: $input-number-btn-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: $input-number-btn-top;
  user-select: none;
  font-size: $input-number-btn-font-size;
}
.lin-input-number-reduce {
  border-radius: $input-number-reduce-border-radius;
  border-right: $input-number-reduce-border-right;
  left: $input-number-reduce-left;
  top: $input-number-reduce-top;
  bottom: $input-number-reduce-bottom;
}
.lin-input-number-text {
  outline: none;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  padding: $input-number-text-padding;
  width: $input-number-text-width;
  height: $input-number-text-height;
  border-radius: $input-number-text-border-radius;
  border: $input-number-text-border;
}
.lin-input-number-text:focus {
  border-color: $input-number-text-focus-border-color;
}
.lin-input-number-plus {
  border-radius: $input-number-plus-border-radius;
  border-left: $input-number-plus-border-left;
  right: $input-number-plus-right;
  top: $input-number-plus-top;
  bottom: $input-number-plus-bottom;
}

.lin-input-number-btn-disabled {
  cursor: not-allowed;
}

.lin-input-number-disabled {
  .lin-input-number-btn {
    border-color: $input-number-btn-disabled-border-color;
    color: $input-number-btn-disabled-color;
    cursor: not-allowed;
  }
  .lin-input-number-text {
    cursor: not-allowed;
    background-color: $input-number-text-disabled-background-color;
    border-color: $input-number-text-disabled-border-color;
    color: $input-number-text-disabled-color;
  }
}
