@import "./common";

$checkbox-color: #606266 !default;
$checkbox-font-weight: 500 !default;
$checkbox-font-size: 14px !default;
$checkbox-margin-right: 30px !default;

$checkbox-input-line-height: 1 !default;

$checkbox-inner-border: 1px solid #dcdfe6 !default;
$checkbox-inner-border-radius: 2px !default;
$checkbox-inner-width: 14px !default;
$checkbox-inner-height: 14px !default;
$checkbox-inner-background-color: #fff !default;
$checkbox-inner-z-index: 1 !default;
$checkbox-inner-transition: border-color 0.25s
    cubic-bezier(0.71, -0.46, 0.29, 1.46),
  background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46) !default;

$checkbox-inner-after-border: 1px solid #fff !default;
$checkbox-inner-after-border-left: 0 !default;
$checkbox-inner-after-border-top: 0 !default;
$checkbox-inner-after-height: 7px !default;
$checkbox-inner-after-left: 4px !default;
$checkbox-inner-after-top: 1px !default;
$checkbox-inner-after-transform: rotate(45deg) scaleY(0) !default;
$checkbox-inner-after-width: 3px !default;
$checkbox-inner-after-transition: transform 0.15s ease-in 0.05s !default;
$checkbox-inner-after-transform-origin: center !default;

$checkbox-label-padding-left: 10px !default;
$checkbox-label-line-height: 19px !default;
$checkbox-label-font-size: 14px !default;

$checkbox-checked-background-color: #409eff !default;
$checkbox-checked-border-color: #409eff !default;
$checkbox-checked-color: #409eff !default;
$checkbox-checked-transform: rotate(45deg) scaleY(1) !default;

$checkbox-disabled-color: #c0c4cc !default;
