@import "./common";

$limit-textarea-input-border: 1px solid #d1dbe5 !default;
$limit-textarea-input-padding: 5px 7px !default;
$limit-textarea-input-line-height: 1.5 !default;
$limit-textarea-input-width: 100% !default;
$limit-textarea-input-font-size: 14px !default;
$limit-textarea-input-color: #000 !default;
$limit-textarea-input-border-radius: 4px !default;
$limit-textarea-input-outline: 0 !default;
$limit-textarea-input-transition: border-color 0.2s
  cubic-bezier(0.645, 0.045, 0.355, 1) !default;

$limit-textarea-input-focus-border: 1px solid #3faaf5 !default;

$limit-textarea-over-border: 1px solid #ff4949 !default;

$limit-textarea-text-bottom: 5px !default;
$limit-textarea-text-right: 5px !default;
$limit-textarea-text-font-size: 12px !default;
$limit-textarea-text-color: #d1dbe5 !default;

$limit-textarea-num-color: #13ce66 !default;

$limit-textarea-num-over-color: #ff4949 !default;
