@import "./common";

$progress-out-background-color: #ebeef5 !default;

$progress-outside-tip-margin-left: 10px !default;
$progress-outside-tip-color: #606266 !default;
$progress-outside-tip-font-size: 14px !default;

$progress-inside-text-right: 6px !default;
$progress-inside-text-top: 50% !default;
$progress-inside-text-transform: translateY(-50%) !default;

$progress-inside-tip-color: #fff !default;
$progress-inside-tip-font-size: 12px !default;

$progress-primary-background-color: $primary !default;
$progress-success-background-color: $success !default;
$progress-warning-background-color: $warning !default;
$progress-danger-background-color: $danger !default;
