@import "./common";

$tag-height: 32px !default;
$tag-padding: 0 10px !default;
$tag-line-height: 30px !default;
$tag-font-size: 12px !default;
$tag-border: 1px solid transparent !default;
$tag-border-radius: 4px !default;

$tag-close-margin-left: 5px !default;
$tag-close-width: 16px !default;
$tag-close-height: 16px !default;
$tag-close-line-height: 16px !default;
$tag-close-border-radius: 50% !default;
$tag-close-font-size: 12px !default;
$tag-close-hover-color: #ffffff !default;

$tag-dark-color: #ffffff !default;

$tag-plain-background-color: #ffffff !default;
