@import "src/styles/variables/limit-textarea.scss";
.lin-limit-textarea {
  position: relative;
}
.lin-limit-textarea-input {
  border: $limit-textarea-input-border;
  display: block;
  resize: vertical;
  padding: $limit-textarea-input-padding;
  line-height: $limit-textarea-input-line-height;
  box-sizing: border-box;
  width: $limit-textarea-input-width;
  font-size: $limit-textarea-input-font-size;
  color: $limit-textarea-input-color;
  border-radius: $limit-textarea-input-border-radius;
  outline: $limit-textarea-input-outline;
  transition: $limit-textarea-input-transition;
}
.lin-limit-textarea-input:focus {
  border: $limit-textarea-input-focus-border;
}
.lin-limit-textarea-over {
  border: $limit-textarea-over-border;
}
.lin-limit-textarea-text {
  position: absolute;
  bottom: $limit-textarea-text-bottom;
  right: $limit-textarea-text-right;
  font-size: $limit-textarea-text-font-size;
  color: $limit-textarea-text-color;
}
.lin-limit-textarea-num {
  color: $limit-textarea-num-color;
}
.lin-limit-textarea-num-over {
  color: $limit-textarea-num-over-color;
}
