@import "src/styles/variables/tab.scss";

.lin-tab-group {
  background-color: $tab-group-background-color;
}

.lin-tab-group-header {
  position: relative;
  margin-bottom: $tab-group-header-margin-bottom;
  overflow: hidden;
  user-select: none;

  &.lin-tab-group-header-scroll {
    padding: $tab-group-header-scroll-padding;
  }

  &::after {
    position: absolute;
    bottom: $tab-group-header-after-bottom;
    left: $tab-group-header-after-left;
    width: $tab-group-header-after-width;
    height: $tab-group-header-after-height;
    content: '';
    background-color: $tab-group-header-after-background-color;
  }
}

.lin-tab-group-item-wrapper {
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.lin-tab-group-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-tab-group-icon {
  position: absolute;
  top: $tab-group-icon-top;
  z-index: 200;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $tab-group-icon-width;
  height: $tab-group-icon-height;
  cursor: pointer;
  background-color: $tab-group-icon-background-color;
  border-bottom: $tab-group-icon-border-bottom;

  &.lin-icon-left {
    left: $tab-group-icon-left-left;
  }

  &.lin-icon-right {
    right: $tab-group-icon-right-right;
  }
}

.lin-tab-group-header-item {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  display: inline-block;
  height: $tab-group-item-height;
  margin: $tab-group-item-margin;
  font-size: $tab-group-item-font-size;
  font-weight: $tab-group-item-font-weight;
  line-height: $tab-group-item-height;
  color: $tab-group-item-color;
  white-space: nowrap;
  cursor: pointer;

  &:not(.lin-tab-group-header-item-disabled):hover {
    color: $tab-group-item-hover-color;
  }

  &:nth-child(1) {
    margin-left: $tab-group-item-first-margin-left;
  }

  &:nth-last-of-type(1) {
    margin-right: $tab-group-item-last-margin-right;
  }
}

.lin-tab-group-active-line {
  position: absolute;
  bottom: $tab-group-line-bottom;
  left: $tab-group-line-left;
  height: $tab-group-line-height;
  background-color: $tab-group-line-background-color;
  // z-index: 1;
  transition: $tab-group-line-transition;
}

.lin-tab-group-active {
  color: $tab-group-active-color;
}

.lin-tab-group-header-item-disabled {
  color: $tab-group-item-disabled-color;
  cursor: not-allowed;
}

.lin-tab-group-card {
  .lin-tab-group-header-item {
    padding: $tab-group-card-item-padding;
    margin: $tab-group-card-item-margin;
    border: $tab-group-card-item-border;
    border-right: $tab-group-card-item-border-right;

    &:nth-last-of-type(1) {
      border-right: $tab-group-card-item-last-border-right;
    }

    &.lin-tab-group-active {
      border-bottom-color: $tab-group-card-item-active-border-bottom-color;
    }
  }

  .lin-tab-group-header-scroll {
    .lin-tab-group-header-item {
      margin-left: $tab-group-card-scroll-item-margin-left;
    }
  }
}

.lin-tab-group-border {
  border: $tab-group-border-border;
  box-shadow: $tab-group-border-box-shadow;

  .lin-tab-group-header {
    margin: $tab-group-border-header-margin;
    background-color: $tab-group-border-header-background-color;
  }

  .lin-tab-group-header-item {
    padding: $tab-group-border-item-padding;
    margin: $tab-group-border-item-margin;
    border: $tab-group-border-item-border;

    &.lin-tab-group-active {
      background-color: $tab-group-border-item-active-background-color;
      border-right-color: $tab-group-border-item-active-border-right-color;
      border-left-color: $tab-group-border-item-active-border-left-color;
    }
  }

  .lin-tab-group-content {
    padding: $tab-group-border-content-padding;
  }

  .lin-tab-group-icon {
    background-color: $tab-group-border-icon-background-color;
  }
}
