@import "./common";

$backtop-container-background-color: #fff !default;
$backtop-container-width: 40px !default;
$backtop-container-height: 40px !default;
$backtop-container-border-radius: 50% !default;
$backtop-container-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12) !default;
$backtop-container-hover-background-color: lighten($primary, 35%) !default;

$backtop-triangle-border: 6px solid $primary !default;
$backtop-triangle-border-right-color: transparent !default;
$backtop-triangle-border-bottom-color: transparent !default;
$backtop-triangle-transform: rotate(45deg) translate(2px, 1px) !default;
