@import './common';

$date-axis-border-bottom: 1px solid $border-color !default;
$date-axis-padding: 10px 0 !default;


$date-axis-arrow-padding: 10px 5px !default;
$date-axis-arrow-hover-color: $primary !default;


$date-axis-icon-font-size: $font-size-bigger !default;

$date-axis-item-margin: 0 10px !default;
$date-axis-item-padding: 5px !default;
$date-axis-item-hover-color: $primary !default;

$date-axis-active-color: $primary !default;


$date-axis-text-color: $font-color !default;


$date-axis-day-font-size: $font-size-normal !default;
$date-axis-date-font-size: $font-size-small !default;


$date-axis-popup-left: 0 !default;
$date-axis-popup-border: 1px solid $border-color !default;
$date-axis-popup-z-index: 200 !default;
$date-axis-popup-before-width: 12px !default;
$date-axis-popup-before-height: 12px !default;
$date-axis-popup-before-border: 1px solid $border-color !default;
$date-axis-popup-before-border-top-color: transparent !default;
$date-axis-popup-before-border-right-color: transparent !default;
$date-axis-popup-before-top: -7px !default;
$date-axis-popup-before-transform: rotate(135deg) !default;
$date-axis-popup-before-z-index: 100 !default;
$date-axis-popup-before-background-color: #fff !default;

$date-axis-popup-left-right: 20px !default;
$date-axis-popup-right-left: 20px !default;


$date-axis-more-content-padding: 10px 0px !default;
$date-axis-more-content-hover-color: $primary !default;
$date-axis-more-content-icon-margin-right: 5px !default;

$date-axis-more-margin: 0 10px !default;


$date-axis-line-border-bottom: 1px solid $border-color !default;
$date-axis-line-bottom: -11px !default;
$date-axis-line-transition: all 300ms !default;
$date-axis-line-after-width: 12px !default;
$date-axis-line-after-height: 12px !default;
$date-axis-line-after-border: 1px solid $border-color !default;
$date-axis-line-after-border-top-color: transparent !default;
$date-axis-line-after-border-right-color: transparent !default;
$date-axis-line-after-top: -6px !default;
$date-axis-line-after-left: 50% !default;
$date-axis-line-after-transform: translateX(-50%) rotate(135deg) !default;
$date-axis-line-after-z-index: 100 !default;
$date-axis-line-after-background-color: #fff !default;