@import "./common";

$date-picker-color: $font-color !default;

$date-picker-icon-top: 50% !default;
$date-picker-icon-transform: translateY(-50%) !default;
$date-picker-icon-left: 8px !default;
$date-picker-icon-font-size: $font-size-big !default;

$date-picker-input-background-color: #fff !default;
$date-picker-input-background-image: none !default;
$date-picker-input-border-radius: 4px !default;
$date-picker-input-border: 1px solid $border-color !default;
$date-picker-input-color: $font-color !default;
$date-picker-input-height: 40px !default;
$date-picker-input-line-height: 40px !default;
$date-picker-input-outline: none !default;
$date-picker-input-padding: 0 15px 0 30px !default;
$date-picker-input-transition: border-color 0.2s
  cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$date-picker-input-width: 100% !default;
$date-picker-input-hover-border-color: darken($border-color, 30%) !default;

$date-picker-pannel-background-color: #ffffff !default;
$date-picker-pannel-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
$date-picker-pannel-border-radius: 4px !default;
$date-picker-pannel-padding: 5px !default;

$date-picker-pannel-header-height: 30px !default;

$date-picker-month-margin-left: 10px !default;

$date-picker-cell-padding: 5px !default;
$date-picker-cell-margin: 5px !default;

$date-picker-pannel-cell-border: 1px solid transparent !default;
$date-picker-pannel-cell-hover-border: 1px solid $primary !default;
$date-picker-pannel-cell-hover-border-radius: 4px !default;

$date-picker-info-font-size: $font-size-base !default;

$date-picker-not-current-month-color: $disabled-font-color !default;

$date-picker-disabled-background-color: $disabled-background-color !default;
$date-picker-disabled-border-color: $disabled-border-color !default;
$date-picker-disabled-color: $disabled-font-color !default;

$date-picker-disabled-date-background-color: $disabled-background-color !default;
$date-picker-disabled-date-border-color: $disabled-background-color !default;
$date-picker-disabled-date-color: $disabled-font-color !default;
$date-picker-disabled-date-hover-border: 1px solid transparent !default;
$date-picker-disabled-date-hover-border-radius: 4px !default;

$date-picker-current-val-background-color: $primary !default;
$date-picker-current-val-color: #ffffff !default;
$date-picker-current-val-border-radius: 4px !default;
$date-picker-current-val-hover-border-color: $primary !default;

$date-picker-radius-border-radius: 50% !default;
$date-picker-radius-hover-border-radius: 50% !default;
