@import "./common";

$form-item-margin-bottom: 20px !default;

$form-item-label-font-size: 14px !default;
$form-item-label-color: #606266 !default;
$form-item-label-line-height: 40px !default;
$form-item-label-padding: 0 12px 0 0 !default;

$form-item-content-line-height: 40px !default;
$form-item-content-font-size: 14px !default;
