@import "./common";
@import "../animations/index.scss";

$hls-player-background-color: #000000 !default;

$hls-player-video-object-fit: fill !default;

$hls-player-volume-margin-left: 5px !default;
$hls-player-volume-transition: all 400ms !default;
$hls-player-volume-hover-width: 60px !default;
$hls-player-volume-hover-padding: 5px 5px !default;
$hls-player-volume-process-height: 3px !default;
$hls-player-volume-process-background-color: hsla(0, 0%, 100%, 0.2) !default;
$hls-player-volume-process-margin: 3px 0px !default;
$hls-player-volume-process-ball-right: -4px !default;
$hls-player-volume-process-line-background-color: rgb(183, 218, 255) !default;
$hls-player-volume-process-ball-top: 50% !default;
$hls-player-volume-process-ball-transform: translateY(-50%) !default;
$hls-player-volume-process-ball-width: 8px !default;
$hls-player-volume-process-ball-height: 8px !default;
$hls-player-volume-process-ball-border-radius: 50% !default;
$hls-player-volume-process-ball-background-color: rgb(183, 218, 255) !default;

$hls-player-tip-left: 20px !default;
$hls-player-tip-bottom: 50px !default;
$hls-player-tip-border-radius: 4px !default;
$hls-player-tip-background-color: rgba(0, 0, 0, 0.6) !default;
$hls-player-tip-color: #ffffff !default;
$hls-player-tip-font-size: 14px !default;
$hls-player-tip-padding: 7px 20px !default;

$hls-player-speed-margin-right: 10px !default;
$hls-player-speed-color: #ffffff !default;
$hls-player-speed-label-height: 20px !default;
$hls-player-speed-label-padding: 5px 0px !default;
$hls-player-speed-label-font-size: 12px !default;
$hls-player-speed-label-min-width: 70px !default;
$hls-player-speed-list-list-style: none !default;
$hls-player-speed-list-top: 0 !default;
$hls-player-speed-list-left: 50% !default;
$hls-player-speed-list-transform: translateX(-50%) !default;
$hls-player-speed-list-margin: 0 !default;
$hls-player-speed-list-padding: 5px 0 !default;
$hls-player-speed-list-background-color: rgba(0, 0, 0, 0.6) !default;
$hls-player-speed-label-hover-background-color: rgba(0, 0, 0, 0.2) !default;

$hls-player-process-height: 3px !default;
$hls-player-process-background-color: hsla(0, 0%, 100%, 0.2) !default;
$hls-player-process-mask-padding: 5px 0 !default;
$hls-player-process-time-border-radius: 4px !default;
$hls-player-process-time-background-color: rgba(0, 0, 0, 0.5) !default;
$hls-player-process-time-top: -20px !default;
$hls-player-process-time-left: 0 !default;
$hls-player-process-time-color: #ffffff !default;
$hls-player-process-time-font-size: 12px !default;
$hls-player-process-time-padding: 3px !default;
$hls-player-process-played-top: 0 !default;
$hls-player-process-played-left: 0 !default;
$hls-player-process-played-background-color: rgb(183, 218, 255) !default;
$hls-player-process-played-transition: all 300ms !default;
$hls-player-process-loaded-top: 0 !default;
$hls-player-process-loaded-left: 0 !default;
$hls-player-process-loaded-background-color: hsla(0, 0%, 100%, 0.4) !default;
$hls-player-process-loaded-transition: all 300ms !default;
$hls-player-process-ball-right: -5px !default;
$hls-player-process-ball-top: 50% !default;
$hls-player-process-ball-transform: translateY(-50%) !default;
$hls-player-process-ball-width: 11px !default;
$hls-player-process-ball-height: 11px !default;
$hls-player-process-ball-background-color: rgb(183, 218, 255) !default;
$hls-player-process-ball-border-radius: 50% !default;
$hls-player-process-ball-enter-active-animation: BallEnterAnimation 0.3s
  ease-out !default;
$hls-player-process-ball-leave-active-animation: BallEnterAnimation 0.3s reverse
  ease-out !default;

$hls-player-loading-color: hsla(0, 0%, 100%, 0.7) !default;
$hls-player-loading-font-size: 30px !default;
$hls-player-loading-animation: rotate-animation 2s linear infinite !default;

$hls-player-fullscreen-color: #ffffff !default;
$hls-player-fullscreen-font-size: 30px !default;
$hls-player-hover-full-left: 0 !default;
$hls-player-hover-full-top: -30px !default;
$hls-player-hover-full-margin-bottom: 10px !default;

$hls-player-controls-height: 40px !default;
$hls-player-controls-group-padding: 0 20px !default;
$hls-player-controls-mask-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
  repeat-x bottom !default;
$hls-player-controls-mask-height: 98px !default;
$hls-player-controls-icon-color: #ffffff !default;
$hls-player-controls-icon-font-size: 30px !default;
$hls-player-controls-icon-volume-margin-left: 15px !default;
$hls-player-controls-icon-volume-font-size: 20px !default;
$hls-player-controls-time-margin-left: 15px !default;
$hls-player-controls-time-font-size: 12px !default;
$hls-player-controls-time-color: #ffffff !default;
$hls-player-controls-live-tip-font-size: 14px !default;
$hls-player-controls-live-tip-color: #ffffff !default;
$hls-player-controls-live-tip-margin-left: 20px !default;
$hls-player-controls-live-tip-width: 6px !default;
$hls-player-controls-live-tip-height: 6px !default;
$hls-player-controls-live-tip-border-radius: 50% !default;
$hls-player-controls-live-tip-margin-right: 5px !default;
$hls-player-controls-live-tip-background-color: rgb(183, 218, 255) !default;
$hls-player-controls-process-box-top: -8px !default;
$hls-player-controls-process-box-left: 0 !default;
$hls-player-controls-process-box-padding: 0 20px !default;
$hls-player-controls-right-right: 20px !default;
$hls-player-controls-right-top: 0 !default;

$hls-player-animation-top: 50% !default;
$hls-player-animation-left: 50% !default;
$hls-player-animation-transform: translate(-50%, -50%) !default;
$hls-player-animation-width: 60px !default;
$hls-player-animation-height: 60px !default;
$hls-player-animation-border-radius: 50% !default;
$hls-player-animation-font-size: 40px !default;
$hls-player-animation-color: #ffffff !default;
$hls-player-animation-enter-active-animation: EnterActiveAnimation 0.3s ease-out !default;
