@import "../mixin/common";

$live-comment-background: rgba(16, 26, 42, 1) !default;
$live-comment-width: 320px !default;
$live-comment-height: 500px !default;

$live-comment-login-btn-color: #ef7237 !default;

$live-comment-title-margin: 0 !default;
$live-comment-title-width: 100% !default;
$live-comment-title-height: 40px !default;
$live-comment-title-background: rgba(40, 58, 86, 1) !default;
$live-comment-title-font-size: 14px !default;
$live-comment-title-font-weight: 400 !default;
$live-comment-title-color: rgba(196, 208, 227, 1) !default;
$live-comment-title-line-height: 40px !default;
$live-comment-title-text-align: center !default;

$live-comment-content-background: rgba(16, 26, 42, 1) !default;
$live-comment-content-padding: 10px !default;

$live-comment-input-height: 72px !default;
$live-comment-input-background: rgba(34, 52, 82, 1) !default;

$live-comment-textarea-width: 238px !default;
$live-comment-textarea-height: 52px !default;
$live-comment-textarea-background: rgba(25, 36, 54, 1) !default;
$live-comment-textarea-margin: 0 !default;
$live-comment-textarea-padding: 5px !default;
$live-comment-textarea-color: #767891 !default;

$live-comment-send-btn-width: 62px !default;
$live-comment-send-btn-height: 52px !default;
$live-comment-send-btn-background: rgba(59, 87, 133, 1) !default;
$live-comment-send-btn-font-size: 14px !default;
$live-comment-send-btn-font-weight: 400 !default;
$live-comment-send-btn-color: rgba(255, 255, 255, 1) !default;
$live-comment-send-btn-line-height: 52px !default;
$live-comment-send-btn-text-align: center !default;

$live-comment-mask-width: 238px !default;
$live-comment-mask-height: 52px !default;
$live-comment-mask-padding: 5px !default;
$live-comment-mask-top: 10px !default;
$live-comment-mask-left: 15px !default;

$live-comment-mask-default-font-size: 14px !default;
$live-comment-mask-default-color: #767891 !default;

$live-comment-user-avator-width: 26px !default;
$live-comment-user-avator-height: 26px !default;
$live-comment-user-avator-border-radius: 50% !default;

$live-comment-info-box-width: 264px !default;
$live-comment-info-box-padding-left: 10px !default;

$live-comment-user-name-line-height: 26px !default;
$live-comment-user-name-margin-bottom: 5px !default;
$live-comment-user-name-span-1-max-width: 127px !default;
$live-comment-user-name-span-1-font-size: 14px !default;
$live-comment-user-name-span-1-font-weight: 400 !default;
$live-comment-user-name-span-1-margin-right: 5px !default;
$live-comment-user-name-span-1-color: rgba(184, 198, 216, 1) !default;
$live-comment-user-name-span-2-font-size: 12px !default;
$live-comment-user-name-span-2-font-weight: 400 !default;
$live-comment-user-name-span-2-color: rgba(120, 138, 161, 1) !default;
$live-comment-user-name-span-2-text-align: right !default;

$live-comment-view-count-text-align: right !default;
$live-comment-view-count-margin: 0 !default;
$live-comment-view-count-font-size: 12px !default;
$live-comment-view-count-font-weight: 400 !default;
$live-comment-view-count-color: rgba(120, 138, 161, 1) !default;
$live-comment-view-count-line-height: 30px !default;
$live-comment-view-count-padding: 0 10px !default;

$live-comment-info-width: 254px !default;
$live-comment-info-padding: 5px !default;
$live-comment-info-background: rgba(46, 62, 85, 1) !default;
$live-comment-info-border-radius: 2px !default;
$live-comment-info-font-size: 12px !default;
$live-comment-info-font-weight: 400 !default;
$live-comment-info-color: rgba(184, 198, 216, 1) !default;
$live-comment-info-line-height: 20px !default;

$live-comment-fix-bottom: 71px !default;
$live-comment-fix-left: 0 !default;
$live-comment-fix-width: 100% !default;
$live-comment-fix-height: 32px !default;
$live-comment-fix-background: #665c47 !default;
$live-comment-fix-font-size: 12px !default;
$live-comment-fix-font-weight: 400 !default;
$live-comment-fix-color: rgba(250, 247, 235, 1) !default;
$live-comment-fix-padding: 0 7px !default;
$live-comment-fix-span-1-width: 50px !default;
$live-comment-fix-span-2-width: 216px !default;
