$magnifier-border: 1px solid #ccc !default;

$magnifier-big-border: 1px solid #ccc !default;

$magnifier-move-width: 100px !default;
$magnifier-move-height: 100px !default;
$magnifier-move-background: rgba(255, 255, 0, 0.3) !default;
