

$pagination-font-size: 13px !default;

$pagination-total-margin:0 5px !default;
$pagination-total-color: #606266 !default;

$pagination-background-item-background-color: #f4f4f5 !default;
$pagination-background-item-color: #606266 !default;
$pagination-background-disabled-background-color: #f4f4f5 !default;
$pagination-background-disabled-color:  #c0c4cc !default;
$pagination-background-icon-background-color: #f4f4f5 !default;
$pagination-background-active-background-color: #409eff !default;
$pagination-background-active-color: #fff !default;

$pagination-pager-padding: 0 !default;

$pagination-item-width: 30px !default;
$pagination-item-height: 28px !default;
$pagination-item-border-radius: 2px !default;
$pagination-item-line-height: 28px !default;
$pagination-item-margin: 0 5px !default;
$pagination-item-font-weight: bold !default;
$pagination-item-hover-color: #409eff !default;


$pagination-icon-top: 0 !default;
$pagination-icon-left: 0 !default;
$pagination-icon-width: 30px !default;
$pagination-icon-height: 28px !default;
$pagination-icon-line-height: 28px !default;
$pagination-icon-background-color: #fff !default;
$pagination-icon-font-size: 12px !default;
$pagination-icon-color: #409eff !default;


$pagination-active-color: #409eff !default;


$pagination-disabled-color: #c0c4cc !default;

$pagination-jumpe-margin:0 5px !default;

$pagination-input-width: 46px !default;
$pagination-input-height: 28px !default;
$pagination-input-padding: 0 3px !default;
$pagination-input-border-radius: 4px !default;
$pagination-input-border: 1px solid #dcdfe6 !default;
$pagination-input-margin: 0 5px !default;
$pagination-input-transition: all 300ms !default;
$pagination-input-hover-border-color: #ccc !default;
$pagination-input-focus-border-color: #409eff !default;