@import "./common";
@import "../animations/index.scss";

$player-process-height: 3px !default;
$player-process-background-color: hsla(0, 0%, 100%, 0.2) !default;
$player-process-mask-padding: 5px 0 !default;
$player-process-time-border-radius: 4px !default;
$player-process-time-background-color: rgba(0, 0, 0, 0.5) !default;
$player-process-time-top: -20px !default;
$player-process-time-left: 0 !default;
$player-process-time-color: #fff !default;
$player-process-time-font-size: 12px !default;
$player-process-time-padding: 3px !default;
$player-process-played-top: 0 !default;
$player-process-played-left: 0 !default;
$player-process-played-background-color: rgb(183, 218, 255) !default;
$player-process-played-transition: all 300ms !default;
$player-process-loaded-top: 0 !default;
$player-process-loaded-left: 0 !default;
$player-process-loaded-background-color: hsla(0, 0%, 100%, 0.4) !default;
$player-process-loaded-transition: all 300ms !default;
$player-process-ball-right: -5px !default;
$player-process-ball-top: 50% !default;
$player-process-ball-transform: translateY(-50%) !default;
$player-process-ball-width: 11px !default;
$player-process-ball-height: 11px !default;
$player-process-ball-background-color: rgb(183, 218, 255) !default;
$player-process-ball-border-radius: 50% !default;
$player-process-ball-enter-active-animation: ball-enter-animation 0.3s
  ease-out !default;
$player-process-ball-leave-active-animation: ball-enter-animation 0.3s
  reverse ease-out !default;
