$player-volume-margin-left: 5px !default;
$player-volume-transition: all 400ms !default;
$player-volume-hover-width: 60px !default;
$player-volume-hover-padding: 5px 5px !default;
$player-volume-process-height: 3px !default;
$player-volume-process-background-color: hsla(0, 0%, 100%, 0.2) !default;
$player-volume-process-margin: 3px 0 !default;
$player-volume-process-ball-right: -4px !default;
$player-volume-process-line-background-color: rgb(183, 218, 255) !default;
$player-volume-process-ball-top: 50% !default;
$player-volume-process-ball-transform: translateY(-50%) !default;
$player-volume-process-ball-width: 8px !default;
$player-volume-process-ball-height: 8px !default;
$player-volume-process-ball-border-radius: 50% !default;
$player-volume-process-ball-background-color: rgb(183, 218, 255) !default;
$player-volume-icon-color: #fff !default;
$player-volume-icon-font-size: 20px !default;
$player-volume-icon-margin-left: 15px !default;
