

$scroll-bar-wrapper-margin-right: -17px !default;


$scroll-bar-barwrapper-width: 8px !default;
$scroll-bar-barwrapper-background-color: transparent !default;
$scroll-bar-barwrapper-right: 0 !default;
$scroll-bar-barwrapper-top: 0 !default;


$scroll-bar-bar-width: 8px !default;
$scroll-bar-bar-background-color: rgba(144,147,153,.3) !default;
$scroll-bar-bar-left: 0 !default;
$scroll-bar-bar-top: 0 !default;
$scroll-bar-bar-border-radius: 4px !default;
$scroll-bar-bar-hover-background-color: rgba(144,147,153,.5) !default;


$scroll-bar-spinner-text-align: center !default;
$scroll-bar-spinner-padding: 5px 0 !default;