@import "./common";

$selector-height: 26px !default;

$selector-item-max-width: 200px !default;
$selector-item-margin-right: 10px !default;

$selector-item-height: $selector-height !default;
$selector-item-line-height: $selector-height !default;
$selector-item-padding: 0 10px !default;
$selector-item-font-size: 12px !default;
$selector-item-color: #5c657d !default;

$selector-active-color: #1baafb !default;
$selector-active-background-color: #e8f6ff !default;

$selector-disabled-background-color: #f5f7fa !default;
$selector-disabled-color: #c0c4cc !default;
