@import "./common";

$show-more-font-size: $font-size-small !default;
$show-more-color: $font-color !default;

$show-more-tip-color: $primary !default;
$show-more-tip-text-decoration: none !default;
$show-more-tip-margin-left: 5px !default;
