@import "./common";

$show-more-font-size: 13px !default;
$show-more-color: #000 !default;

$show-more-tip-color: #3faaf5 !default;
$show-more-tip-text-decoration: none !default;
$show-more-tip-margin-left: 5px !default;
