@import "./common";

$video-card-background: #ffffff !default;
$video-card-border: 1px solid #e7eff8 !default;
$video-card-border-radius: 4px !default;
$video-card-transition: all 0.4s !default;
$video-card-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15) !default;
$video-card-transform: translateY(-3px) !default;

$video-card-cover-border-radius: 4px 4px 0px 0px !default;

$video-card-error-tip-background: #f5f7fa !default;
$video-card-error-tip-color: #c0c4cc !default;
$video-card-error-tip-font-size: 14px !default;

$video-card-cover-tip-bottom: 8px !default;
$video-card-cover-tip-right: 8px !default;
$video-card-cover-tip-line-height: 20px !default;
$video-card-cover-tip-background: rgba(4, 30, 66, 0.5) !default;
$video-card-cover-tip-border-radius: 10px !default;
$video-card-cover-tip-padding: 0 11px !default;
$video-card-cover-tip-font-size: 12px !default;
$video-card-cover-tip-font-weight: 400 !default;
$video-card-cover-tip-color: rgba(242, 242, 242, 1) !default;
