@import "./common";

$video-card-background: #fff !default;
$video-card-border: 1px solid $border-color !default;
$video-card-border-radius: 4px !default;
$video-card-transition: all 0.4s !default;
$video-card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15) !default;
$video-card-transform: translateY(-3px) !default;

$video-card-cover-border-radius: 4px 4px 0 0 !default;

$video-card-error-tip-background: $background-color !default;
$video-card-error-tip-color: $disabled-font-color !default;
$video-card-error-tip-font-size: 14px !default;

$video-card-cover-tip-bottom: 8px !default;
$video-card-cover-tip-right: 8px !default;
$video-card-cover-tip-line-height: 20px !default;
$video-card-cover-tip-background: rgba(4, 30, 66, 0.5) !default;
$video-card-cover-tip-border-radius: 10px !default;
$video-card-cover-tip-padding: 0 11px !default;
$video-card-cover-tip-font-size: 12px !default;
$video-card-cover-tip-font-weight: 400 !default;
$video-card-cover-tip-color: rgba(242, 242, 242, 1) !default;
