@import "src/styles/mixin/common";
@import "src/styles/variables/cascader";

.lin-cascader {
  display: inline-block;
  width: $cascader-width;
  position: relative;
}

.lin-cascader-input {
  > input {
    cursor: pointer;
  }
  .lin-icon-close {
    cursor: pointer;
  }
}

.lin-panel {
  display: flex;
  flex-direction: row;
}

.lin-cascader-popup {
  position: absolute;
  z-index: $cascader-popup-z-index;
  box-shadow: $cascader-popup-box-shadow;
  &::before {
    content: "";
    position: absolute;
    width: $cascader-popup-before-width;
    height: $cascader-popup-before-height;
    left: $cascader-popup-before-left;
    border: $cascader-popup-before-border;
    border-bottom-color: $cascader-popup-before-border-bottom-color;
    border-right-color: $cascader-popup-before-border-right-color;
    background-color: $cascader-popup-before-background-color;
  }
}

.lin-cascader-popup-down {
  &::before {
    top: $cascader-popup-down-before-top;
    transform: $cascader-popup-down-before-transform;
  }
}

.lin-cascader-popup-up {
  &::before {
    bottom: $cascader-popup-up-before-bottom;
    transform: $cascader-popup-up-before-transform;
  }
}

.lin-panel-wrapper {
  background-color: $panel-wrapper-background-color;
}

.lin-panel-scroll {
  @include one-line();

  @include beautyScroll();
}
.lin-panel-container {
  width: $panel-container-width;
  height: $panel-container-height;
  box-sizing: border-box;
  border: $panel-container-border;
  margin-left: $panel-container-margin-left;
  margin-top: $panel-container-margin-top;
  flex-shrink: 0;
}

.lin-panel-item {
  cursor: pointer;
  padding: $panel-item-padding;
  height: $panel-item-height;
  line-height: $panel-item-height;
  white-space: nowrap;
  font-size: $panel-item-font-size;
  position: relative;
  @include one-line();
  > .lin-icon-right {
    position: absolute;
    right: $panel-item-right-right;
  }
}

.lin-panel-empty {
  width: $panel-empty-width;
  padding: $panel-empty-padding;
  margin: $panel-empty-margin;
  height: $panel-empty-height;
  line-height: $panel-empty-height;
  white-space: nowrap;
  font-size: $panel-empty-font-size;
  position: relative;
}

.lin-panel-disabled {
  cursor: not-allowed;
  color: $panel-disabled-color;
}

.lin-panel-active {
  color: $panel-active-color;
}
.lin-panel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: $panel-list-padding;
}

.lin-panel-loading {
  width: $panel-loading-width;
  height: $panel-loading-height;
  border: $panel-loading-border;
  border-radius: $panel-loading-border-radius;
  border-left-color: $panel-loading-border-left-color;
  border-top-color: $panel-loading-border-top-color;
  position: absolute;
  right: $panel-loading-right;
  top: $panel-loading-top;
  animation: $panel-loading-animation;
}

.lin-cascader-fade-enter-active,
.lin-cascader-fade-leave-active {
  transition: all 300ms;
}
.lin-cascader-fade-enter,
.lin-cascader-fade-leave-to {
  opacity: 0;
}
