@import "packages/assets/styles/variables/image.scss";

.l-image {
  display: inline-block;
  vertical-align: top;
}
.l-image-img {
  display: block;
  width: 100%;
  height: 100%;
  padding: $image-img-padding;
  margin: $image-img-margin;
}
.l-image-error {
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: $image-error-font-size;
  color: $image-error-color;
}

.l-image-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: $image-mask-z-index;
  background-color: $image-mask-background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: $image-mask-transition;
}

.l-image-close {
  position: absolute;
  right: $image-close-right;
  top: $image-close-top;
  width: $image-close-width;
  height: $image-close-height;
  border-radius: $image-close-border-radius;
  border: $image-close-border-border;
}

.l-image-line {
  position: absolute;
  height: $image-line-height;
  width: $image-line-width;
  background-color: $image-line-background-color;
  top: $image-line-top;
  left: $image-line-left;
}

.l-image-line-left {
  transform: $image-line-left-transform;
}

.l-image-line-right {
  transform: $image-line-right-transform;
}

.l-image-animation-enter,
.l-image-animation-leave-to {
  transform: scale(0.3);
  opacity: 0;
}

.l-image-animation-enter-to,
.l-image-animation-leave {
  transform: scale(1);
  opacity: 1;
}

.l-image-object-fill {
  object-fit: fill;
}
.l-image-object-contain {
  object-fit: contain;
}
.l-image-object-cover {
  object-fit: cover;
}
.l-image-object-none {
  object-fit: none;
}
.l-image-object-scale-down {
  object-fit: scale-down;
}
