.lin-fade-in-enter-active,
.lin-fade-in-leave-active {
  transition: all 300ms;
}

.lin-fade-in-enter-from,
.lin-fade-in-leave-to {
  opacity: 0;
}


@keyframes rotate-animation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}