@import "src/styles/variables/hls-player.scss";

// hls-player 开始 ----------------------------------
.lin-hls-player {
  width: 100%;
  height: 100%;
  background-color: $hls-player-background-color;
  position: relative;
}

.lin-hls-player-fix {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.lin-hls-player-video {
  height: 100%;
  width: 100%;
  object-fit: $hls-player-video-object-fit;
}

// hls-player 结束 ----------------------------------

// hls-player-volume 开始 ---------------------------
.lin-hls-player-volume {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    .lin-hls-player-volume-mask {
      width: $hls-player-volume-hover-width;
      padding: $hls-player-volume-hover-padding;
    }
  }
}

.lin-hls-player-volume-mask {
  margin-left: $hls-player-volume-margin-left;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: $hls-player-volume-transition;
  width: 0;
  padding: 0;
}
.lin-hls-player-volume-process {
  width: $hls-player-volume-hover-width;
  height: $hls-player-volume-process-height;
  background-color: $hls-player-volume-process-background-color;
  position: relative;
  margin: $hls-player-volume-process-margin;
}
.lin-hls-player-volume-process-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: $hls-player-volume-process-line-background-color;
}
.lin-hls-player-volume-process-ball {
  position: absolute;
  right: $hls-player-volume-process-ball-right;
  top: $hls-player-volume-process-ball-top;
  transform: $hls-player-volume-process-ball-transform;
  width: $hls-player-volume-process-ball-width;
  height: $hls-player-volume-process-ball-height;
  border-radius: $hls-player-volume-process-ball-border-radius;
  background-color: $hls-player-volume-process-ball-background-color;
}
// hls-player-volume 结束 ---------------------------

// hls-player-tip 开始 ------------------------------
.lin-hls-player-tip {
  position: absolute;
  left: $hls-player-tip-left;
  bottom: $hls-player-tip-bottom;
  border-radius: $hls-player-tip-border-radius;
  background-color: $hls-player-tip-background-color;
  color: $hls-player-tip-color;
  font-size: $hls-player-tip-font-size;
  padding: $hls-player-tip-padding;
}
// hls-player-tip 结束 ------------------------------

// hls-player-speed  开始  --------------------------
.lin-hls-player-speed {
  margin-right: $hls-player-speed-margin-right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $hls-player-speed-color;
  position: relative;
  &:hover {
    .lin-hls-player-speed-list {
      display: block;
    }
  }
}
.lin-hls-player-speed-label {
  cursor: pointer;
  height: $hls-player-speed-label-height;
  line-height: $hls-player-speed-label-height;
  // padding: 5px 10px;
  padding: $hls-player-speed-label-padding;
  font-size: $hls-player-speed-label-font-size;
  white-space: nowrap;
  text-align: center;
  min-width: $hls-player-speed-label-min-width;
}
.lin-hls-player-speed-list {
  list-style: $hls-player-speed-list-list-style;
  position: absolute;
  top: $hls-player-speed-list-top;
  left: $hls-player-speed-list-left;
  transform: $hls-player-speed-list-transform;
  margin: $hls-player-speed-list-margin;
  padding: $hls-player-speed-list-padding;
  background-color: $hls-player-speed-list-background-color;
  display: none;
  .lin-hls-player-speed-label {
    &:hover {
      background-color: $hls-player-speed-label-hover-background-color;
    }
  }
}
// hls-player-speed  结束  --------------------------

// hls-player-process  开始  --------------------------
.lin-hls-player-process-mask {
  cursor: pointer;
  width: 100%;
  padding: $hls-player-process-mask-padding;
  position: relative;
}

.lin-hls-player-process-time {
  border-radius: $hls-player-process-time-border-radius;
  background-color: $hls-player-process-time-background-color;
  position: absolute;
  top: $hls-player-process-time-top;
  left: $hls-player-process-time-left;
  color: $hls-player-process-time-color;
  font-size: $hls-player-process-time-font-size;
  padding: $hls-player-process-time-padding;
  user-select: none;
}
.lin-hls-player-process {
  width: 100%;
  height: $hls-player-process-height;
  background-color: $hls-player-process-background-color;
  position: relative;
  cursor: pointer;
}
.lin-hls-player-process-played {
  position: absolute;
  top: $hls-player-process-played-top;
  left: $hls-player-process-played-left;
  height: $hls-player-process-height;
  background-color: $hls-player-process-played-background-color;
  transition: $hls-player-process-played-transition;
}
.lin-hls-player-process-loaded {
  position: absolute;
  top: $hls-player-process-loaded-top;
  left: $hls-player-process-loaded-left;
  height: $hls-player-process-height;
  background-color: $hls-player-process-loaded-background-color;
  transition: $hls-player-process-loaded-transition;
}
.lin-hls-player-process-ball {
  position: absolute;
  right: $hls-player-process-ball-right;
  top: $hls-player-process-ball-top;
  transform: $hls-player-process-ball-transform;
  width: $hls-player-process-ball-width;
  height: $hls-player-process-ball-height;
  background-color: $hls-player-process-ball-background-color;
  border-radius: $hls-player-process-ball-border-radius;
}

.lin-hls-player-fade-enter-active,
.lin-hls-player-fade-leave-active {
  transition: opacity 0.5s;
}
.lin-hls-player-fade-enter,
.lin-hls-player-fade-leave-to {
  opacity: 0;
}

.lin-hls-player-ball-enter-active {
  animation: $hls-player-process-ball-enter-active-animation;
}

.lin-hls-player-ball-leave-active {
  animation: $hls-player-process-ball-leave-active-animation;
}
// hls-player-process  结束  --------------------------

// hls-player-loading  开始  --------------------------
.lin-hls-player-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > span {
    color: $hls-player-loading-color;
    font-size: $hls-player-loading-font-size;
    animation: $hls-player-loading-animation;
  }
}
// hls-player-loading  结束  --------------------------

// hls-player-image  开始  --------------------------
.lin-hls-player-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
// hls-player-image  结束  --------------------------

// hls-player-definition  开始  --------------------------
.lin-hls-player-fullscreen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  span {
    color: $hls-player-fullscreen-color;
    font-size: $hls-player-fullscreen-font-size;
    cursor: pointer;
  }
  &:hover {
    .lin-hls-player-hover-full {
      display: block;
    }
  }
}

.lin-hls-player-hover-full {
  position: absolute;
  width: 100%;
  left: $hls-player-hover-full-left;
  top: $hls-player-hover-full-top;
  margin-bottom: $hls-player-hover-full-margin-bottom;
  display: none;
}
// hls-player-definition  结束  --------------------------

// hls-player-controls  开始  --------------------------

.lin-hls-player-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.lin-hls-player-controls-group {
  position: relative;
  width: 100%;
  height: $hls-player-controls-height;
  padding: $hls-player-controls-group-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.lin-hls-player-controls-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $hls-player-controls-mask-background;
  height: $hls-player-controls-mask-height;
  width: 100%;
}

.lin-hls-player-icon-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  vertical-align: top;
  > i {
    color: $hls-player-controls-icon-color;
    font-size: $hls-player-controls-icon-font-size;
  }
}

.lin-hls-player-icon-volume {
  margin-left: $hls-player-controls-icon-volume-margin-left;
  > i {
    font-size: $hls-player-controls-icon-volume-font-size;
  }
}

.lin-hls-player-time {
  margin-left: $hls-player-controls-time-margin-left;
  font-size: $hls-player-controls-time-font-size;
  color: $hls-player-controls-time-color;
  user-select: none;
}

.lin-hls-player-live-tip {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $hls-player-controls-live-tip-font-size;
  color: $hls-player-controls-live-tip-color;
  margin-left: $hls-player-controls-live-tip-margin-left;
  > i {
    width: $hls-player-controls-live-tip-width;
    height: $hls-player-controls-live-tip-height;
    border-radius: $hls-player-controls-live-tip-border-radius;
    margin-right: $hls-player-controls-live-tip-margin-right;
    background-color: $hls-player-controls-live-tip-background-color;
  }
}
.lin-hls-player-process-box {
  position: absolute;
  top: $hls-player-controls-process-box-top;
  left: $hls-player-controls-process-box-left;
  width: 100%;
  box-sizing: border-box;
  padding: $hls-player-controls-process-box-padding;
}

.lin-hls-player-controls-right {
  position: absolute;
  right: $hls-player-controls-right-right;
  top: $hls-player-controls-right-top;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// hls-player-controls  结束  --------------------------

// hls-player-animation  开始  --------------------------
.lin-hls-player-animation {
  position: absolute;
  top: $hls-player-animation-top;
  left: $hls-player-animation-left;
  transform: $hls-player-animation-transform;
  width: $hls-player-animation-width;
  height: $hls-player-animation-height;
  border-radius: $hls-player-animation-border-radius;
  text-align: center;
  line-height: $hls-player-animation-height;
  > span {
    font-size: $hls-player-animation-font-size;
    color: $hls-player-animation-color;
  }
}

.lin-hls-player-animation-enter-active {
  animation: $hls-player-animation-enter-active-animation;
}

.lin-hls-player-animation-leave-active {
  opacity: 0;
  display: none;
}
// hls-player-animation  结束  --------------------------
