.lin-hls-player {
  width: 600px;
  height: 300px;
  background-color: #000000;
  position: relative;
}

.lin-hls-player-fix {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.lin-hls-player-video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
