@import "src/styles/variables/selector-item";

.lin-selecotr-item {
  max-width: $selector-item-max-width;
  height: $selector-item-height;
  padding: $selector-item-padding;
  margin-right: $selector-item-margin-right;
  overflow: hidden;
  font-size: $selector-item-font-size;
  line-height: $selector-item-line-height;
  color: $selector-item-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.lin-selecotr-item.lin-selecotr-active {
  color: $selector-active-color;
  background-color: $selector-active-background-color;
}

.lin-selecotr-item.lin-selecotr-disabled {
  color: $selector-disabled-color;
  cursor: not-allowed;
  background-color: $selector-disabled-background-color;
}
