@import "src/styles/variables/dropdown.scss";

.lin-dropdown-group-label {
    height: $dropdown-group-label-height;
    line-height: $dropdown-group-label-height;
    box-sizing: border-box;
    cursor: default;
    padding: $dropdown-group-label-padding;
    border-bottom: $dropdown-group-label-border-bottom;
    font-size: $dropdown-group-label-font-size;
    color: $dropdown-group-label-color;
  }