@import "src/styles/variables/dropdown.scss";

.lin-dropdown-group-label {
  box-sizing: border-box;
  height: $dropdown-group-label-height;
  padding: $dropdown-group-label-padding;
  font-size: $dropdown-group-label-font-size;
  line-height: $dropdown-group-label-height;
  color: $dropdown-group-label-color;
  cursor: default;
  border-bottom: $dropdown-group-label-border-bottom;
}
