@import "src/styles/variables/loading-bar.scss";
.lin-loading-bar-progress {
  position: fixed;
  top: $loading-bar-top;
  left: $loading-bar-left;
  width: $loading-bar-width;
  height: $loading-bar-height;
  transition: $loading-bar-transition;
  //   transition: all 5s ease;
  background: $loading-bar-background;
  transform: $loading-bar-transform;
  z-index: $loading-bar-z-index;
}
.lin-loading-bar-peg {
  position: absolute;
  right: $loading-bar-peg-right;
  width: $loading-bar-peg-width;
  height: $loading-bar-peg-height;
  background-image: $loading-bar-peg-background-image;
}

.lin-loading-bar-spinner {
  position: fixed;
  z-index: $loading-bar-spinner-z-index;
  top: $loading-bar-spinner-top;
  right: $loading-bar-spinner-right;
}

.lin-loading-bar-icon {
  width: $loading-bar-icon-width;
  height: $loading-bar-icon-height;
  box-sizing: border-box;
  border: $loading-bar-icon-border;
  border-top-color: $loading-bar-icon-border-top-color;
  border-left-color: $loading-bar-icon-border-left-color;
  border-radius: $loading-bar-icon-border-radius;
  animation-name: $loading-bar-icon-animation-name;
  animation-duration: $loading-bar-icon-animation-duration;
  animation-iteration-count: $loading-bar-icon-animation-iteration-count;
}

.lin-loading-bar-error {
  background: $loading-bar-error-background;
  .lin-loading-bar-peg {
    background-image: none;
  }
}

.lin-loading-bar-icon-error {
  border-top-color: $loading-bar-error-border-top-color;
  border-left-color: $loading-bar-error-border-left-color;
}
