@import "./common";

$button-line-height: 1 !default;

$button-background-color: #fff !default;

$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color: #dcdfe6 !default;
$button-color: $font-color !default;
$button-margin: 0 !default;
$button-transition: 0.1s !default;
$button-font-weight: 500 !default;
$button-font-size: $font-size-small !default;
$button-border-radius: 4px !default;

$button-default-padding-x: 12px !default;
$button-default-padding-y: 20px !default;

$button-medium-padding-x: 10px !default;
$button-medium-padding-y: 20px !default;

$button-small-padding-x: 9px !default;
$button-small-padding-y: 15px !default;

$button-default-active-color: $primary !default;
$button-default-active-border-color: rgba($primary, 0.1) !default;
$button-default-active-background-color: rgba($primary, 0.2) !default;

$button-theme-color-color: #fff !default;

$button-round-border-radius: 20px !default;
$button-round-padding-x: 12px !default;
$button-round-padding-y: 23px !default;

$button-circle-border-radius: 50% !default;
$button-default-circle-padding: 12px !default;
$button-medium-circle-padding: 10px !default;
$button-small-circle-padding: 8px !default;

$button-icon-margin-left: 5px !default;

$button-default-plain-active-background: #fff !default;
$button-default-plain-active-border-color: $primary !default;
$button-default-plain-active-color: $primary !default;

$button-spinner-margin-right: 5px !default;
