@import "./common";

$image-img-padding: 0 !default;
$image-img-margin: 0 !default;

$image-error-font-size: $font-size-small !default;
$image-error-color: $disabled-font-color !default;

$image-mask-z-index: 1000 !default;
$image-mask-background-color: rgba(0, 0, 0, 0.5) !default;
$image-mask-transition: all 0.5s !default;

$image-close-right: 15px !default;
$image-close-top: 15px !default;
$image-close-width: 30px !default;
$image-close-height: 30px !default;
$image-close-border-radius: 50% !default;
$image-close-border-border: 2px solid #111 !default;

$image-line-height: 100% !default;
$image-line-width: 2px !default;
$image-line-background-color: #111 !default;
$image-line-top: 0 !default;
$image-line-left: 50% !default;

$image-line-left-transform: rotate(45deg) !default;
$image-line-right-transform: rotate(-45deg) !default;
