@import "./common";

$link-font-size: $font-size-small !default;

$link-default-color: $font-color !default;

$link-underline-hover-after-width: 100% !default;
$link-underline-hover-after-height: 1px !default;
$link-underline-hover-after-bottom: 0 !default;
$link-underline-hover-after-left: 0 !default;

$link-icon-margin-right: 5px !default;

$link-disabled-color-lighten: 10% !default;
