@import "./common";
@import "../animations/rotate-animation.scss";

$loading-bar-color: $primary !default;
$loading-bar-error-color: $danger !default;

$loading-bar-top: 0 !default;
$loading-bar-left: 0 !default;
$loading-bar-width: 100% !default;
$loading-bar-height: 2px !default;
$loading-bar-transition: all 0.2s ease !default;
$loading-bar-background: $loading-bar-color !default;
$loading-bar-transform: translateX(-100%) !default;
$loading-bar-z-index: 1000 !default;

$loading-bar-peg-right: 0 !default;
$loading-bar-peg-width: 100px !default;
$loading-bar-peg-height: 100% !default;
// $loading-bar-peg-background-image: linear-gradient(
//   135deg,
//   #1de9b6 0%,
//   #08c4db 72%,
//   #057494 100%
// ) !default;
$loading-bar-peg-background-image: linear-gradient(
  135deg,
  $success 0%,
  darken($success, 10%) 72%,
  darken($success, 20%) 100%
) !default;

$loading-bar-spinner-z-index: 1031 !default;
$loading-bar-spinner-top: 15px !default;
$loading-bar-spinner-right: 15px !default;

$loading-bar-icon-width: 18px !default;
$loading-bar-icon-height: 18px !default;
$loading-bar-icon-border: 2px solid transparent !default;
$loading-bar-icon-border-top-color: $loading-bar-color !default;
$loading-bar-icon-border-left-color: $loading-bar-color !default;
$loading-bar-icon-border-radius: 50% !default;
$loading-bar-icon-animation-name: rotate-animation !default;
$loading-bar-icon-animation-duration: 400ms !default;
$loading-bar-icon-animation-iteration-count: infinite !default;

$loading-bar-error-background: $loading-bar-error-color !default;
$loading-bar-error-border-top-color: $loading-bar-error-color !default;
$loading-bar-error-border-left-color: $loading-bar-error-color !default;
