$player-fullscreen-color: #fff !default;
$player-fullscreen-font-size: 30px !default;
$player-fullscreen-hover-full-left: 0 !default;
$player-fullscreen-hover-full-top: -30px !default;
$player-fullscreen-hover-full-margin-bottom: 10px !default;
