@import "./common";

$selector-height: 26px !default;

$selector-item-max-width: 200px !default;
$selector-item-margin-right: 10px !default;

$selector-item-height: $selector-height !default;
$selector-item-line-height: $selector-height !default;
$selector-item-padding: 0 10px !default;
$selector-item-font-size: 12px !default;
$selector-item-color: rgba($font-color, 0.9) !default;

$selector-active-color: $primary !default;
$selector-active-background-color: rgba($primary, 0.1) !default;

$selector-disabled-background-color: $disabled-background-color !default;
$selector-disabled-color: $disabled-font-color !default;
