@import "./common";
$table-width: 100% !default;
$table-border-collapse: collapse !default;
$table-border-spacing: 0 !default;
$table-color: $font-size-normal !default;

$table-border-border: 1px solid rgba($border-color, 0.4) !default;

$table-stripe-background-color: #fafafa !default;

$table-cell-padding: 10px !default;
$table-cell-border-bottom: 1px solid rgba($border-color, 0.4) !default;

$table-tbody-tr-hover-background-color: rgba($background-color, 0.9) !default;

$table-checkbox-width: 16px !default;
$table-checkbox-height: 16px !default;
$table-checkbox-line-height: 14px !default;
$table-checkbox-before-border: 1px solid #d9d9d9 !default;

$table-checkbox-border-radius: 4px !default;

$table-checkbox-checked-background-color: #fff !default;
$table-checkbox-checked-border: 1px solid #7d7d7d !default;
$table-checkbox-checked-color: #7d7d7d !default;
$table-checkbox-checked-font-size: 16px !default;
$table-checkbox-checked-font-weight: bold !default;
