.l-row::after,
.l-row::before {
  display: table;
  content: "";
}

.l-row::after {
  clear: both;
}

.l-row-flex {
  display: flex;
}

.l-row-justify-center {
  justify-content: center;
}

.l-row-justify-start {
  justify-content: flex-start;
}

.l-row-justify-end {
  justify-content: flex-end;
}

.l-row-justify-around {
  justify-content: space-around;
}

.l-row-justify-between {
  justify-content: space-between;
}

.l-row-align-center {
  align-items: center;
}

.l-row-align-end {
  align-items: flex-end;
}

.l-row-align-start {
  align-items: flex-start;
}

.l-row-align-baseline {
  align-items: baseline;
}
.l-row-align-stretch {
  align-items: stretch;
}
